g-tabbar
{
	border: none;
	height: auto;
	flex-grow: 1;
	display: flex;
	overflow: hidden;
	align-items: stretch;
	justify-content: flex-start;
	color: var(--g-tabbar-color);
	background-color:  var(--g-tabbar-background-color);
	background-image:  var(--g-tabbar-background-image);


	hr {
		border: none;
		flex-grow: 1;
		background-color: transparent;
	}

	> a,
	> button,
	> .g-command
	{
		margin: 4px;
		padding: 4px;
		height: auto;
		flex-grow: 1;
		display: flex;
		color: inherit;
		flex-shrink: 1;
		max-width: 160px;
		border-radius: 5px;
		white-space: nowrap;
		align-items: center;
		text-decoration: none;
		flex-direction: column;
		justify-content: space-around;

		&:focus {
			outline: none
		}

		&:hover {
			color: var(--g-tabbar-hovered-color);
			background-color:  var(--g-tabbar-hovered-background-color);
			background-image:  var(--g-tabbar-hovered-background-image);
		}


		&[aria-selected] {
			color: var(--g-tabbar-selected-color);
			background-color:  var(--g-tabbar-selected-background-color);
			background-image:  var(--g-tabbar-selected-background-image);
		}

		> i, > e {
			order: -1;
			display: flex;
			min-width: 60px;
			font-size: 16px;
			margin-bottom: 4px;
			align-items: center;
			justify-content: center;
		}
	}

	> *[hidden="true"] {
		display: none
	}
}



