g-path,
.g-path
{
	display: flex;
	padding-left: 4px;
	padding-right: 4px;
	align-items: center;
	justify-content: flex-start;

	&[iconless] > a > i,
	&[iconless] > label > i { display: none }

	> a,
	> label
	{
		display: flex;
		font-size: inherit;
		align-items: center;
		justify-content: space-between;

		> i { order: -1;
		      display: flex;
		      margin-right: 4px;
		      font-size: inherit;
		      align-items: center;
		      justify-content: center}

		&:not(:last-child):after {
			display: flex;
			color: #999999;
			content: "\2275";
			align-items: center;
			font-family: "gate";
			pointer-events: none;
			margin-left: 4px;
			margin-right: 4px;
			justify-content: center; }
	}
}