<div style="display: grid; gap: 10px; grid-template-columns: 1fr 1fr">
	<g-code-viewer>
		<g-card>
			<picture>
				<img src="3135715.png" style="height: 48px" />
			</picture>
			<header>
				this is a header
			</header>
			<section>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</section>
			<footer>
				<nav>
					<a href='#'><g-icon>&#X2090;</g-icon></a>
					<a href='#'><g-icon>&#X2021;</g-icon></a>
					<a href='#'><g-icon>&#X2034;</g-icon></a>
					<a href='#'><g-icon>&#X2122;</g-icon></a>
				</nav>
			</footer>
		</g-card>
	</g-code-viewer>
	<g-code-viewer>
		<g-card>
			<g-icon style="font-size: 48px">&#X2090;</g-icon>
			<header>
				this is a header
			</header>
			<section>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua.
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure
				dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			</section>
			<footer>
				<nav>
					<a href='#'><g-icon>&#X2090;</g-icon></a>
					<a href='#'><g-icon>&#X2021;</g-icon></a>
					<a href='#'><g-icon>&#X2034;</g-icon></a>
					<a href='#'><g-icon>&#X2122;</g-icon></a>
				</nav>
			</footer>
		</g-card>
	</g-code-viewer>
</div>

