<g-callout class='fill'>
	<h1>&lt;g-context-menu&gt;</h1>
	<p>
	</p>
</g-callout>

<g-tab-control>
	<a href="#">Example 1</a>
	<div>
		<g-code-viewer>
			<g-callout id="context">
				Click here to show the menu
			</g-callout>
			<script type="module">
				import GContextMenu from './gate/g-context-menu.js';
				document.querySelector("#context").addEventListener("contextmenu", e =>
				{
					e.preventDefault();
					GContextMenu.show(e.x, e.y,
						{"text": "Item 1", "icon": "2008", "action": () => alert("Item 1")},
						{"text": "Item 2", "icon": "2009", "action": () => alert("Item 2")},
						{"text": "Item 3", "icon": "2006", "action": () => alert("Item 3")},
						{"text": "Item 4", "icon": "2003", "action": () => alert("Item 4")},
						{"text": "Item 5", "icon": "2004",
							"action": [{"text": "Item 5.1", "icon": "2026", "action": () => alert("Item 5.1")},
								{"text": "Item 5.2", "icon": "2031", "action": () => alert("Item 5.2")},
								{"text": "Item 5.3", "icon": "2021", "action": () => alert("Item 5.3")},
								{"text": "Item 5.4", "icon": "2020", "action": () => alert("Item 5.4")},
								{"text": "Item 5.5", "icon": "2034",
									"action": [{"text": "Item 5.5.1", "icon": "2051", "action": () => alert("Item 5.1")},
										{"text": "Item 5.5.2", "icon": "2058", "action": () => alert("Item 5.5.2")},
										{"text": "Item 5.5.3", "icon": "2059", "action": () => alert("Item 5.5.3")},
										{"text": "Item 5.5.4", "icon": "2056", "action": () => alert("Item 5.5.4")},
										{"text": "Item 5.5.5", "icon": "2053", "action": () => alert("Item 5.5.5")}]}]
						});
				});
			</script>
		</g-code-viewer>
	</div>
</g-tab-control>
