<g-callout>
</g-callout>

<div style='display: grid; grid-template-columns: auto 1fr; gap: 12px'>
	<g-side-menu>
		<a href='./component/g-callout.html' target="@inner-html(this.parent().next())">
			g-callout<g-icon>&#x1007;</g-icon>
		</a>
		<a href='./component/g-card.html' target="@inner-html(this.parent().next())">
			g-card<g-icon>&#x2197;</g-icon>
		</a>
		<a href='./component/g-context-menu.html' target="@inner-html(this.parent().next())">
			g-context-menu
		</a>
		<a href='./component/g-coolbar.html' target="@inner-html(this.parent().next())">
			g-coolbar
		</a>
		<a href='./component/g-desk-pane.html' target="@inner-html(this.parent().next())">
			g-desk-pane<g-icon>&#x2270;</g-icon>
		</a>
		<a href='./component/g-chart/g-chart.html' target="@inner-html(this.parent().next())">
			g-chart<g-icon>&#x2031;</g-icon>
		</a>
		<a href='./component/g-dialog.html' target="@inner-html(this.parent().next())">
			g-dialog<g-icon>&#x2256;</g-icon>
		</a>
		<a href='./component/form/g-form.html' target="@inner-html(this.parent().next())">
			g-form
		</a>
		<a href='./component/form/g-form-editor.html' target="@inner-html(this.parent().next())">
			g-form-editor
		</a>
		<a href='./component/form/g-form-view.html' target="@inner-html(this.parent().next())">
			g-form-view
		</a>
		<a href='./component/g-message.html' target="@inner-html(this.parent().next())">
			g-message<g-icon>&#x2015;</g-icon>
		</a>
		<a href='./component/g-selectn.html' target="@inner-html(this.parent().next())">
			g-selectn<g-icon>&#x3011;</g-icon>
		</a>
		<a href='./component/g-tab-control/g-tab-control.html' target="@inner-html(this.parent().next())">
			g-tab-control<g-icon>&#x3055;</g-icon>
		</a>
		<a href='./component/g-table.html' target="@inner-html(this.parent().next())">
			g-table
		</a>
		<a href='./component/g-text-editor.html' target="@inner-html(this.parent().next())">
			g-text-editor<g-icon>&#x3025;</g-icon>
		</a>
		<a href='./component/g-tooltip.html' target="@inner-html(this.parent().next())">
			g-tooltip
		</a>
		<a href='./component/g-tree-grid.html' target="@inner-html(this.parent().next())">
			g-tree-grid
		</a>
		<a href='./component/g-tree-list.html' target="@inner-html(this.parent().next())">
			g-tree-list
		</a>
		<hr>
		<a href='./component/g-date-input.html' target="@inner-html(this.parent().next())">
			g-date-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-date-interval-input.html' target="@inner-html(this.parent().next())">
			g-date-interval-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-date-time-input.html' target="@inner-html(this.parent().next())">
			g-date-time-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-date-time-interval-input.html' target="@inner-html(this.parent().next())">
			g-date-time-interval-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-icon-input.html' target="@inner-html(this.parent().next())">
			g-icon-input<g-icon>&#x2009;</g-icon>
		</a>
		<a href='./component/g-month-input.html' target="@inner-html(this.parent().next())">
			g-month-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-month-interval-input.html' target="@inner-html(this.parent().next())">
			g-month-interval-input<g-icon>&#x2003;</g-icon>
		</a>
		<a href='./component/g-time-input.html' target="@inner-html(this.parent().next())">
			g-time-input<g-icon>&#x2167;</g-icon>
		</a>
		<a href='./component/g-time-interval-input.html' target="@inner-html(this.parent().next())">
			g-time-interval-input<g-icon>&#x2167;</g-icon>
		</a>
	</g-side-menu>
	<section>
	</section>
</div>
