div.Toolbar { height: 48px;
	      display: flex;
	      border-radius: 5px;
	      align-items: stretch;
	      justify-content: center;
	      align-content: stretch;
	      background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%); }

div.Toolbar > a { width: 48px;
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  border: 1px solid transparent;  }

div.Toolbar > a > i { font-size: 16px }
div.Toolbar > a:hover > i { font-size: 24px }

div.Toolbar > a:first-child { border-radius: 5px 0 0 5px }
div.Toolbar > a:last-child { border-radius: 0 5px 5px 0 }