*[data-count='0'][data-counter\:zero-alert]
{
	flex-grow: 1;
	display: flex;
	padding: 12px;
	display: flex;
	font-size: 16px;
	border: 1px solid;
	text-align: justify;
	align-items: stretch;
	border-left: 6px solid;
	justify-content: center;
	border-color: var(--main6);
	border-radius: 0 3px 3px 0;
	background-color: var(--main1);

	> * {
		display: none;
	}

	&::after {
		content: attr(data-counter\:zero-alert);
	}
}

*[data-count][data-counter\:position='before']::before
{
	content: attr(data-count);
}

*[data-count][data-counter\:position='after']::after
{
	content: attr(data-count);
}