/build/
/dist/
/target/
target/
/modules/*/target/
/modules/gate/docs/gate/
/modules/gate/src/main/resources/META-INF/resources/gate/
/nbproject/
/node_modules/
/.vscode/
/.github/
/.idea/
/.settings/
/.classpath
/.project
*.iml
/src/main/resources/META-INF/resources/gate/
.aider*
