:root {
  --phone: 576px;
  --tablet: 768px;
  --notebook: 992px;
  --desktop: 1200px;
  --widescreen: 1400px;
}
:root {
  --main1: #FFFFFF;
  --main2: #FAFAFA;
  --main3: #F8F8F8;
  --main4: #EEEEEE;
  --main5: #DDDDDD;
  --main6: #CCCCCC;
  --base1: #2f5674;
  --base2: #3f729b;
  --base3: #cfdce6;
  --base4: #d8e3eb;
  --base5: #DDDDDD;
  --base6: #EEEEEE;
  --acent: #c0b9cd;
  --error1: #660000;
  --error2: #FFCCCC;
  --error3: #FFE4E1;
  --success1: #006600;
  --success2: #a3d8a3;
  --success3: #c7ecc7;
  --warning1: #808000;
  --warning2: #EEDD82;
  --warning3: #FFFFCC;
  --question1: #444488;
  --question2: #B0C4DE;
  --question3: #F0F8FF;
  --hovered: #FFFACD;
  --loading: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0IiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMyI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIzOzEuNTszIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PC9zdmc+);
}
