nav {
	width: auto;
	display: flex;
	font-size: 16px;
	align-items: center;
	background-color: transparent;

	>a {
		padding: 8px;
		display: flex;
		font-size: inherit;
		border-radius: 3px;
		align-items: center;
		justify-content: center;
		color: var(--text1, #000000);

		&:hover {
			background-color: var(--main2, #F0F0F0);
		}
	}
}