.theme-light() {
  --text1: #000000;
  --text2: #FFFFFF;

  --main1: #FFFFFF;
  --main2: #F0F0F0;
  --main3: #DDDDDD;

  --base1: #416B78;
  --base2: #9BB5BE;
  --base3: #C8DAE1;

  --fore-y: #8C6B00;
  --back-y: #F2DE9A;
  --fore-b: #3A69AE;
  --back-b: #C7D8F0;
  --fore-r: #BF4137;
  --back-r: #F3C9C6;
  --fore-g: #2A7D52;
  --back-g: #BBE3CE;

  --acent: #c0b9cd;

  --hovered: #FFFACD;
}

.theme-dark() {
  --text1: #FFFFFF;
  --text2: #000000;

  --main1: #1a1a1a;
  --main2: #2a2a2a;
  --main3: #444444;

  --base3: #344F57;
  --base2: #2F444B;
  --base1: #253137;

  --acent: #d4c9e0;

  --fore-y: #BFA23C;
  --back-y: #54491A;
  --fore-b: #5A93C0;
  --back-b: #2A4E66;
  --fore-r: #D07470;
  --back-r: #5E3330;
  --fore-g: #7CA353;
  --back-g: #35491F;

  --hovered: #2a2522;
}


:root {
  color-scheme: light;
  .theme-light();
  --loading: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0IiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMyI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIzOzEuNTszIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PC9zdmc+);
}

@media (prefers-color-scheme: dark) {
  :root {
	color-scheme: dark;
	.theme-dark();
  }
}

:root:has(g-theme-selector[value="dark"]) {
  color-scheme: dark;
  .theme-dark();
}

:root:has(g-theme-selector[value="light"]) {
  color-scheme: light;
  .theme-light();
}