:root {
  color-scheme: light;
  --text1: #000000;
  --text2: #FFFFFF;
  --main1: #FFFFFF;
  --main2: #F0F0F0;
  --main3: #DDDDDD;
  --base1: #2f5674;
  --base2: #3f729b;
  --base3: #cfdce6;
  --acent: #c0b9cd;
  --r1: #5e0000;
  --r2: #AA2222;
  --r3: #F0A8A8;
  --y1: #808000;
  --y2: #BFBF66;
  --y3: #FFFFCC;
  --g1: #003D26;
  --g2: #009E60;
  --g3: #A8F0C8;
  --b1: #1A2D5F;
  --b2: #2A6B9A;
  --b3: #A8D8F0;
  --hovered: #FFFACD;
  --loading: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0IiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMyI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIzOzEuNTszIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PC9zdmc+);
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --text1: #F3F6FA;
    --text2: #000000;
    --main1: #11161c;
    --main2: #1a222c;
    --main3: #2c3743;
    --base1: #9fc4eb;
    --base2: #4e87bc;
    --base3: #233749;
    --acent: #cbbfda;
    --r1: #ffb8b8;
    --r2: #d15c5c;
    --r3: #3a2225;
    --g1: #ace7c5;
    --g2: #39aa79;
    --g3: #1c3229;
    --y1: #e7dd74;
    --y2: #c1b85b;
    --y3: #38331a;
    --b1: #aed7ff;
    --b2: #5d96c8;
    --b3: #1d3142;
    --hovered: #253140;
  }
}
:root:has(g-theme-selector[value="dark"]) {
  color-scheme: dark;
  --text1: #F3F6FA;
  --text2: #000000;
  --main1: #11161c;
  --main2: #1a222c;
  --main3: #2c3743;
  --base1: #9fc4eb;
  --base2: #4e87bc;
  --base3: #233749;
  --acent: #cbbfda;
  --r1: #ffb8b8;
  --r2: #d15c5c;
  --r3: #3a2225;
  --g1: #ace7c5;
  --g2: #39aa79;
  --g3: #1c3229;
  --y1: #e7dd74;
  --y2: #c1b85b;
  --y3: #38331a;
  --b1: #aed7ff;
  --b2: #5d96c8;
  --b3: #1d3142;
  --hovered: #253140;
}
:root:has(g-theme-selector[value="light"]) {
  color-scheme: light;
  --text1: #000000;
  --text2: #FFFFFF;
  --main1: #FFFFFF;
  --main2: #F0F0F0;
  --main3: #DDDDDD;
  --base1: #2f5674;
  --base2: #3f729b;
  --base3: #cfdce6;
  --acent: #c0b9cd;
  --r1: #5e0000;
  --r2: #AA2222;
  --r3: #F0A8A8;
  --y1: #808000;
  --y2: #BFBF66;
  --y3: #FFFFCC;
  --g1: #003D26;
  --g2: #009E60;
  --g3: #A8F0C8;
  --b1: #1A2D5F;
  --b2: #2A6B9A;
  --b3: #A8D8F0;
  --hovered: #FFFACD;
}
