<g-callout class="fill">
	<h1>g-table</h1>

	<p>
		The <strong>g-table</strong> component extends the functionality of the standard HTML <strong>&lt;table&gt;</strong>
		by incorporating robust features for counting, filtering, and sorting data. Any child tag with a <strong>data-table-size</strong>
		attribute dynamically updates to display the total number of rows in the <strong>g-table</strong> body, ensuring
		users are always aware of the dataset's size. If the <strong>&lt;table&gt;</strong> body is empty, a custom message
		specified by the <strong>data-empty</strong> attribute is displayed, providing a clear indication when no records are found.
	</p>

	<p>
		To enable filtering, you can set a <strong>data-filter</strong> attribute on the table's
		<strong>&lt;tbody&gt;</strong>.
		Rows containing the specified <strong>data-filter</strong> text will be displayed, while
		others will be hidden.

		Additionally, for more precise filtering, you can set a <strong>data-filter:value</strong>
		attribute on <strong>&lt;tr&gt;</strong> elements.
		When this attribute is set, the filtering will be based on exact matches of the
		<strong>data-filter:value</strong> attribute of the <strong>&lt;tr&gt;</strong>
		instead of the inner text.
	</p>
	<p>
		You can also set a <strong>data-filter</strong> attribute on <strong>&lt;col&gt;</strong>
		elements in the <strong>&lt;table&gt;</strong>.
		Rows containing the specified <strong>data-filter</strong> text in the respective column will
		be displayed, while others will be hidden.

		Additionally, for more precise filtering, you can set a <strong>data-filter:value</strong>
		attribute on <strong>&lt;td&gt;</strong> elements. When this attribute is set, the filtering
		will be based on exact matches of the <strong>data-filter:value</strong> attribute of the
		<strong>&lt;td&gt;</strong> instead of the inner text.
	</p>

	<p>
		To enable sorting, apply the <strong>data-sortable</strong> attribute to column headers.
		This indicates that the content in that column is sortable, allowing users to interactively organize data by clicking on designated column headers.
		By default, sorting is determined by the text content of the respective column.
		However, if a <strong>&lt;td&gt;</strong> element within a column includes the data-value attribute, the sorting is adjusted to use its numeric value, providing
		flexibility in organizing numerical data within the <strong>&lt;table&gt;</strong>.
	</p>

	<p>
		These powerful functionalities collectively enhance the user experience, making <strong>g-table</strong>
		a versatile and feature-rich component for managing and presenting data effectively.
	</p>
</p>
</g-callout>

<g-code-viewer ignore='="[_AD]"|data-sorted="[^"]+"|data-size="[^"]*"'>
	<fieldset>
		<label data-size='8'>
			<span>
				<input type="text"
				       placeholder='Search'
				       data-trigger='input'
				       data-action='data:text/plain,@{this}'
				       data-target='@attribute(this.parent(fieldset).search(table):data-filter)'>
			</span>
		</label>
		<label data-size='8'>
			<span>
				<select data-action='data:text/plain,@{this}'
					data-target='@attribute(this.parent(fieldset).search(col:nth-child(2)):data-filter)'>
					<option value="">Sex</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</span>
		</label>
		<table class="c2 c3 c4" is="g-table" data-empty="Nor records found">
			<col>
			<col style="width: 160px">
			<col style="width: 160px">
			<col style="width: 80px">

			<caption>
				RECORDS FOUND: <span data-table-size></span>
			</caption>

			<thead>
				<tr>
					<th data-sortable>Name</th>
					<th data-sortable>Sex</th>
					<th data-sortable>Age</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Foo</td>
					<td data-filter:value='Male'>Male</td>
					<td data-value="25">25</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Bar</td>
					<td data-filter:value='Female'>Female</td>
					<td data-value="30">30</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Baz</td>
					<td data-filter:value='Male'>Male</td>
					<td data-value="22">22</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Qux</td>
					<td data-filter:value='Female'>Female</td>
					<td data-value="28">28</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Fob</td>
					<td data-filter:value='Male'>Male</td>
					<td data-value="32">32</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Bat</td>
					<td data-filter:value='Female'>Female</td>
					<td data-value="27">27</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Bit</td>
					<td data-filter:value='Male'>Male</td>
					<td data-value="29">29</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Car</td>
					<td data-filter:value='Female'>Female</td>
					<td data-value="35">35</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Zoo</td>
					<td data-filter:value='Male'>Male</td>
					<td data-value="26">26</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
				<tr>
					<td>Tap</td>
					<td data-filter:value='Female'>Female</td>
					<td data-value="31">31</td>
					<td>
						<a href="#" target='@remove(this.parent(1))' style='color: #660000'>
							<g-icon>&#X2026;</g-icon>
						</a>
					</td>
				</tr>
			</tbody>
		</table>

	</fieldset>
</g-code-viewer>