<g-callout class="fill">
	<h1>g-tree-grid</h1>
	<p>
		The <strong>g-tree-grid</strong> custom element is designed to enhance HTML tables by transforming
		them into interactive tree-like structures.
		Each row in the table represents a node in the tree, and hierarchical relationships are established
		based on the <strong>data-depth</strong> attribute.
		A collapsible icon in the first column allows users to expand or collapse nodes, revealing or hiding
		child nodes respectively.
		To use the g-tree-grid, include it in your HTML markup as a <strong>&lt;table&gt;</strong> element
		with the attribute <strong>is="g-tree-grid"</strong>.
		Customize the content within the table body, using <strong>&lt;tr&gt;</strong> elements with the
		data-depth attribute to indicate hierarchy levels.
		The collapsible icons enable users to navigate and interact with the tree structure dynamically.
	</p>
</g-callout>

<g-code-viewer ignore='style="[^"]*"|class="odd"|class="even"|<(td|th)[^>]*>\s*[+-]?\s*</(td|th)>'>
	<table is="g-tree-grid" class="c1">
		<thead>
			<tr>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>
			<tr data-depth="0">
				<td>
					1
				</td>
			</tr>
			<tr data-depth="1">
				<td>
					1.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					1.1.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					1.1.2
				</td>
			</tr>
			<tr data-depth="1">
				<td>
					1.2
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					1.2.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					1.2.2
				</td>
			</tr>
			<tr data-depth="0">
				<td>
					2
				</td>
			</tr>
			<tr data-depth="1">
				<td>
					2.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					2.1.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					2.1.2
				</td>
			</tr>
			<tr data-depth="1">
				<td>
					2.2
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					2.2.1
				</td>
			</tr>
			<tr data-depth="2">
				<td>
					2.2.2
				</td>
			</tr>
		</tbody>
	</table>
</g-code-viewer>

