g-commands
{
	height: 24px;
	color: white;
	outline: none;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	border-radius: 5px;
	font-size: inherit;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;

	&:empty { display: none }

	> g-command, > a, > button
	{
		padding: 0;
		width: 32px;
		height: 24px;
		display: none;
		color: inherit;
		font-size: 0px;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		&:hover { color: var(--hovered); }

		> i { color: inherit;
		      font-size: 16px;
		      &:hover { color: var(--hovered); }
		}
	}
}

body
{
	> g-command, > a, > button
	{
		height: 40px;
		padding: 4px;
		min-height: 40px;
		flex-basis: 40px;
		font-weight: bold;
		background-color: var(--base-shaded35);
	}
}