details {
	gap: 8px;
	display: flex;
	border-radius: 3px;
	align-items: stretch;
	flex-direction: column;
	justify-content: stretch;
	border: 1px solid var(--base3);

	> section {
		padding: 8px;
	}

	> summary {

		border: none;
		padding: 6px;
		display: flex;
		margin-left: 0;
		margin-right: 0;
		font-size: 12px;
		cursor: pointer;
		font-weight: bold;
		border-radius: 3px;
		align-items: center;
		color: var(--base1);
		justify-content: space-between;
		background-color: var(--base3);

		&:focus {
			background-color: var(--hovered);
		}

		&::-webkit-details-marker {
			display: none;
		}

		&::after {
			font-family: gate;
			content: "\2278";
		}
	}

	&[open]
	{
		> summary
		{
			border-radius: 3px 3px 0 0;

			&::after {
				content: "\2276";
			}
		}
	}
}

