fieldset {
	gap: 4px;
	border: none;
	display: grid;
	margin-top: 10px;
	border-radius: 3px;
	margin-bottom: 10px;
	background-color: #F8F8F8;
	border: 1px solid #E8E8E8;
	grid-template-columns: repeat(16, 1fr);

	&:first-child {
		margin-top: 0px;
	}
	&:last-child {
		margin-bottom: 0px;
	}
	&:only-child {
		margin-bottom: 0px;
		margin-bottom: 0px
	}

	> *
	{
		grid-column: span 16;
	}

	> legend {
		padding: 6px;
		display: flex;
		font-size: 16px;
		font-weight: bold;
		border-radius: 3px;
		align-items: center;
		background-color: #E8E8E8;

		> i, > g-icon {
			order: -1;
			margin-right: 4px;
			font-size: inherit;
		}

		> img {
			order: -1;
			width: 20px;
			height: 20px;
			margin-right: 4px;
		}

		label {
			height: 20px;
			display: flex;
			align-items: center;
		}
	}

	> label {
		padding: 4px;
		display: flex;
		font-size: 14px;
		grid-column: span 16;
		flex-direction: column;

		> span,
		> form {
			flex-grow: 1;
			display: flex;
			flex-basis: 38px;
			text-indent: 4px;
			border-radius: 3px;
			align-items: center;
			border: 1px solid #CCCCCC;
			background-color: #F4F4F4;

			> * {
				border: none;
			}

			input,
			select {
				padding: 8px 4px 8px 4px;
			}

			input,
			textarea,
			select,
			g-selectn {
				height: 100%;
				flex-grow: 1;
				font-size: 14px;
			}

			textarea {
				resize: none
			}

			input:invalid,
				select:invalid,
				textarea:invalid
				{
				box-shadow: inset 0 0 1px 1px rgba(255, 0, 0, 0.75);
			}

			input:focus,
				select:focus,
				textarea:focus
				{
				outline: none;
				background-color: var(--hovered);
			}

			* + a,
			* + input,
			* + button,
			* + command,
			* + select  {
				border-left: 1px solid #CCCCCC;
			}


			> a,
			> button,
			> .g-command
			{
				color: black;
				height: 100%;
				flex-grow: 0;
				display: flex;
				text-indent: 0;
				flex-shrink: 0;
				min-width: 48px;
				flex-basis: 48px;
				align-items: stretch;
				text-decoration: none;
				justify-content: center;

				> i, > g-icon {
					flex-grow: 1;
					display: flex;
					text-indent: 0;
					align-items: center;
					justify-content: center;
				}

				&:hover {
					background-color: var(--acent);
				}
				&:focus {
					background-color: var(--hovered);
				}
			}

			> input[type='checkbox'],
			> input[type='radio']
			{
				margin: 0;
				flex-basis: 16px;
				margin-left: 16px;
				margin-right: 16px;
			}
		}
	}
}


@media only screen and (min-width: 576px) {
	fieldset > *[data-size="1"] {
		grid-column: span 8;
	}
}

@media only screen and (min-width: 768px) {
	fieldset > *[data-size="1"] {
		grid-column: span 4;
	}

	fieldset > *[data-size="2"] {
		grid-column: span 8;
	}
}

@media only screen and (min-width: 992px) {
	fieldset > *[data-size="1"] {
		grid-column: span 2;
	}

	fieldset > *[data-size="2"] {
		grid-column: span 4;
	}

	fieldset > *[data-size="4"] {
		grid-column: span 8;
	}
}

@media only screen and (min-width: 1200px) {
	fieldset > *[data-size="1"] {
		grid-column: span 1;
	}

	fieldset > *[data-size="2"] {
		grid-column: span 2;
	}

	fieldset > *[data-size="4"] {
		grid-column: span 4;
	}

	fieldset > *[data-size="8"] {
		grid-column: span 8;
	}
}