@font-face
{
	font-family: 'gate';
	src: local(gate), url('Gate.ttf');
	src: local(gate), url('../fontGate.eot') format('embedded-opentype'),
		url('Gate.woff') format('woff'),
		url('Gate.ttf') format('truetype'),
		url('Gate.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	speak: none;
	line-height: 1;
	color: inherit;
	cursor: inherit;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	font-family: 'gate';
	font-variant: normal;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


*[data-icon]::after {
	speak: none;
	line-height: 1;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	font-family: 'gate';
	font-variant: normal;
	text-transform: none;
	content: attr(data-icon);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

i[c] {
	font-family: arial
}


g-tab-control
{
	> a, button
	{
		> i, e, span, g-icon
		{
			order: -1;
		}
	}
}

g-coolbar
{
	> a, button, .g-command
	{
		> i, e, span, g-icon
		{
			order: 1;
		}
	}
}