input,
select {
	padding: 0 4px 0 4px;
}

input,
select,
textarea,
g-selectn {
	width: 100%;
	height: 38px;
	font-size: 14px;
	min-height: 38px;
	background-color: white;
	border: 1px solid var(--main6);
}

textarea,
g-selectn {
	height: 100%;
}

input:first-child,
select:first-child,
textarea:first-child,
g-selectn:first-child {
	border-radius: 3px 0 0 3px;
}

input:last-child,
select:last-child,
textarea:last-child,
g-selectn:last-child {
	border-radius: 0 3px 3px 0;
}

input:only-child,
select:only-child,
textarea:only-child,
g-selectn:only-child {
	border-radius: 3px;
}

textarea {
	resize: none;
	padding: 4px;
	margin: 0;
}

input:hover,
textarea:hover,
select:hover {
	outline: none;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	background-color: var(--hovered);

}

input:invalid,
select:invalid,
textarea:invalid
{
	box-shadow: inset 0 0 1px 1px rgba(255, 0, 0, 0.75);
}

input[type='checkbox'],
input[type='radio']
{
	margin: 0;
	width: 16px;
	height: 16px;
}

