body {
	gap: 12px;
	margin: 0;
	display: flex;
	align-items: stretch;
	flex-direction: column;

	> main {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0px;
		display: grid;
		position: absolute;
		grid-template-rows: auto auto 1fr auto;

		> header {
			grid-row: 1;
			width: 100%;
			height: 50px;
			display: flex;
			color: var(--main1);
			align-items: center;
			background-color: var(--base2);

			> * {
				margin: 0 8px 0 8px;
			}

			> img {
				width: 28px;
				height: 30px;
				display: flex;
				font-size: 48px;
				align-items: center;
				grid-row: 1 / span 2;
				justify-content: center;
			}

			> *:nth-child(2) {
				flex-grow: 1;
				display: flex;
				font-size: 22px;
				align-items: center;
				justify-content: flex-start;
			}

			> *:nth-child(3) {
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
			}
		}

		> nav {
			margin: 0;
			grid-row: 2;
			border: none;
			padding: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--main3);
			border-bottom: 1px solid var(--base3);
		}

		> nav {
			grid-row: 2
		}

		> section {
			margin: 0;
			grid-row: 3;
			padding: 10px;
			overflow: auto;
			overflow-x: hidden;
			position: relative;
			background-color: var(--main1);

			> article {
				grid-row: 3;
			}
		}

		> footer {
			bottom: 0;
			grid-row: 4;
			height: 28px;
			padding: 8px;
			display: flex;
			font-size: 12px;
			font-weight: bold;
			color: var(--base1);
			align-items: center;
			background-color: var(--base3);
			justify-content: space-between;

			> label {
				font-size: inherit
			}

		}
	}
}

form {
	gap: 12px;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}

section {
	gap: 12px;
	display: flex;
	align-items: stretch;
	flex-direction: column;
}


article {
	margin: 0;
	padding: 0;
	height: 100%;
	display: grid;
	grid-template-rows: auto auto 1fr auto;

	> header {
		grid-row: 1;

		gap: 12px;
		display: flex;
		flex-direction: column;
	}
	> nav {
		grid-row: 2
	}
	> section {
		grid-row: 3;
		overflow: auto;
		overflow-x: hidden;

		gap: 12px;
		display: flex;
		flex-direction: column;
	}
	> footer {
		grid-row: 4;
		overflow: auto;
		overflow-x: hidden;

		gap: 12px;
		display: flex;
		flex-direction: column;
	}

	> * {
		margin-top: 10px;
	}
	> *:first-child {
		margin-top: 0px;
	}
	> *:only-child {
		margin-top: 0px;
	}
}