form.Login
{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	> main {
		width: 600px;
		min-width: 320px;
		border: 1px solid var(--main4);
		background-color: var(--main3);
		max-width: calc(100% - 16px);
		box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.75);

		> header
		{
			gap: 8px;
			padding: 8px;
			height: 50px;
			color: white;
			display: flex;
			align-items: stretch;
			justify-content: space-around;
			background-color: var(--base2);

			> img {
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			> *:nth-child(2) {
				flex-grow: 1;
				display: flex;
				font-size: 20px;
				align-items: center;
				justify-content: flex-start;
			}

			> *:nth-child(3) {
				display: flex;
				font-size: 12px;
				align-items: flex-start;
				justify-content: flex-end;
			}
		}

		> section
		{
			padding: 10px;
			> g-tab-control {
				a {

					grid-column: span 1;
					@media only screen and (min-width: 768px)
						{
						grid-column: span 2;
					}
				}
			}
		}

		> footer
		{
			padding: 10px;
		}
	}
}