nav
{
	width: auto;
	display: flex;
	align-items: center;
	background-color: transparent;

	> a
	{
		padding: 8px;
		display: flex;
		font-size: 16px;
		border-radius: 3px;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: #F0F0F0;
		}
	}
}