table {
	width: 100%;
	border: none;
	color: black;
	border-spacing: 0;
	position: relative;
	font-size: 0.75rem;
	font-weight: normal;
	table-layout: fixed;
	border-spacing: 0px;
	text-decoration: none;
	border: 1px solid var(--base3);

	thead, tbody, tfoot, tr, td
	{
		color: inherit;
		font-weight: inherit;
		text-decoration: inherit;
	}

	> * > tr > * > fieldset {
		padding: 0
	}

	tr {
		height: 38px;

		> * {
			padding: 4px;
			text-align: left;
			vertical-align: middle;
			border-left: 1px solid;

			&:first-child {
				border-left: none;
			}

			a, button, .g-command
			{
				border: 0;
				padding: 0;
				color: var(--question1);
				font-size: 12px;
				cursor: pointer;
				background: none;
				font-weight: inherit;
				text-decoration: none;
			}
		}

		th {
			font-weight: bold;
		}

		td {
			word-break: normal;
			background-color: transparent;

			> form {
				height: 32px;
			}

			> select:only-child,
				> textarea:only-child,
				> input[type='text']:only-child,
				> input[type='password']:only-child,
				> form > select:only-child,
				> form > textarea:only-child,
				> form > input[type='text']:only-child,
				> form > input[type='password']:only-child
				{
				width: 100%;
				height: 32px;
				text-indent: 4px;
				border-radius: 3px;
				border: 1px solid var(--main5);
			}
		}
	}

	> caption {
		height: 32px;
		line-height: 32px;
		font-weight: bold;
		text-align: center;
		color: var(--base1);
		vertical-align: middle;
		border-radius: 3px 3px 0 0;
		background-color: var(--base3);
	}

	> thead > tr > * {
		font-weight: bold;
		color: var(--base1);
		border-color: var(--base5);
		background-color: var(--base6);
	}

	> tbody {
		> tr:nth-child(even),> tr.even {
			background-color: var(--main2);

			> * {
				border-color: var(--main1);
			}
		}
		> tr:nth-child(odd), > tr.odd {
			background-color: var(--main1);

			> * {
				border-color: var(--main2)
			}
		}

		> tr[data-action], > tr[data-value], > tr[data-ret]
		{
			cursor: pointer;
			&:hover {
				background-color: var(--hovered);
			}
		}
	}

	> tfoot > tr > *
	{
		font-weight: bold;
		color: var(--base1);
		border-color: var(--base5);
		background-color: var(--base6);
	}
}

table.c1 > * > tr > *:nth-child(1),
table.cge1 > * > tr > *:nth-child(n+1),
table.c2 > * > tr > *:nth-child(2),
table.cge2 > * > tr > *:nth-child(n+2),
table.c3 > * > tr > *:nth-child(3),
table.cge3 > * > tr > *:nth-child(n+3),
table.c4 > * > tr > *:nth-child(4),
table.cge4 > * > tr > *:nth-child(n+4),
table.c5 > * > tr > *:nth-child(5),
table.cge5 > * > tr > *:nth-child(n+5),
table.c6 > * > tr > *:nth-child(6),
table.cge6 > * > tr > *:nth-child(n+6),
table.c7 > * > tr > *:nth-child(7),
table.cge7 > * > tr > *:nth-child(n+7),
table.c8 > * > tr > *:nth-child(8),
table.cge8 > * > tr > *:nth-child(n+8),
table.c9 > * > tr > *:nth-child(9),
table.cge9 > * > tr > *:nth-child(n+9),
table.c10 > * > tr > *:nth-child(10),
table.cge10 > * > tr > *:nth-child(n+10),
table.c11 > * > tr > *:nth-child(11),
table.cge11 > * > tr > *:nth-child(n+11),
table.c12 > * > tr > *:nth-child(12),
table.cge12 > * > tr > *:nth-child(n+12),
table.c13 > * > tr > *:nth-child(13),
table.cge13 > * > tr > *:nth-child(n+13),
table.c14 > * > tr > *:nth-child(14),
table.cge14 > * > tr > *:nth-child(n+14),
table.c15 > * > tr > *:nth-child(15),
table.cge15 > * > tr > *:nth-child(n+15),
table.c16 > * > tr > *:nth-child(16),
table.cge16 > * > tr > *:nth-child(n+16),
table.c17 > * > tr > *:nth-child(17),
table.cge17 > * > tr > *:nth-child(n+17),
table.c18 > * > tr > *:nth-child(18),
table.cge18 > * > tr > *:nth-child(n+18),
table.c19 > * > tr > *:nth-child(19),
table.cge19 > * > tr > *:nth-child(n+19),
{
	text-align: center
}

table.m1 > * > tr > *:nth-child(1),
table.m2 > * > tr > *:nth-child(2),
table.m3 > * > tr > *:nth-child(3),
table.m4 > * > tr > *:nth-child(4),
table.m5 > * > tr > *:nth-child(5),
table.m6 > * > tr > *:nth-child(6),
table.m7 > * > tr > *:nth-child(7),
table.m8 > * > tr > *:nth-child(8),
table.m9 > * > tr > *:nth-child(9),
table.m10 > * > tr > *:nth-child(10),
table.m11 > * > tr > *:nth-child(11),
table.m12 > * > tr > *:nth-child(12),
table.m13 > * > tr > *:nth-child(13),
table.m14 > * > tr > *:nth-child(14),
table.m15 > * > tr > *:nth-child(15),
table.m16 > * > tr > *:nth-child(16),
table.m17 > * > tr > *:nth-child(17),
table.m18 > * > tr > *:nth-child(18),
table.m19 > * > tr > *:nth-child(19),
table.m20 > * > tr > *:nth-child(20)
{
	font-family: monospace;
}


table.r1 > * > tr > *:nth-child(1),
table.r2 > * > tr > *:nth-child(2),
table.r3 > * > tr > *:nth-child(3),
table.r4 > * > tr > *:nth-child(4),
table.r5 > * > tr > *:nth-child(5),
table.r6 > * > tr > *:nth-child(6),
table.r7 > * > tr > *:nth-child(7),
table.r8 > * > tr > *:nth-child(8),
table.r9 > * > tr > *:nth-child(9),
table.r10 > * > tr > *:nth-child(10),
table.r11 > * > tr > *:nth-child(11),
table.r12 > * > tr > *:nth-child(12),
table.r13 > * > tr > *:nth-child(13),
table.r14 > * > tr > *:nth-child(14),
table.r15 > * > tr > *:nth-child(15),
table.r16 > * > tr > *:nth-child(16),
table.r17 > * > tr > *:nth-child(17),
table.r18 > * > tr > *:nth-child(18),
table.r19 > * > tr > *:nth-child(19),
table.r20 > * > tr > *:nth-child(20)
{
	text-align: right;
}

.card()
{
	display: flex;
	align-items: stretch;
	flex-direction: column;

	> col {
		display: none
	}
	> thead {
		display: none
	}

	> tbody
	{
		display: flex;
		align-items: stretch;
		flex-direction: column;

		> tr {
			margin: 4px;
			padding: 4px;
			height: auto;
			display: flex;
			border-radius: 5px;
			align-items: stretch;
			flex-direction: column;
			border: 2px solid var(--main6);
			justify-content: flex-start;


			> td{
				display: none;

				&[title] {
					margin: 4px;
					padding: 4px;
					display: flex;
					align-items: center;
					justify-content: flex-start;

					&::before {
						float: left;
						text-align: left;
						font-weight: bold;
						margin-right: 8px;
						content: attr(title)":";
					}
				}
			}
		}
	}

	> tfoot {
		order: 1000;

		> tr,
		> tr > td {
			display: flex;
			align-items: center;
			justify-content: center
		}
	}
}


td > label,
th > label {
	width: 100%;
	display: inline-block;

	> i, > span {
		right: 2px;
		color: gray;
		font-size: 10px;
		position: absolute;
	}
}

@media only screen and (max-width: 576px)
{
	table[data-collapse="Phone"] {
		.card()
	}
}

@media only screen and (max-width: 768px)
{
	table[data-collapse="Tablet"] {
		.card()
	}
}

@media only screen and (max-width: 992px)
{
	table[data-collapse="Notebook"] {
		.card()
	}
}

@media only screen and (max-width: 1200px)
{
	table[data-collapse="Desktop"] {
		.card()
	}
}

@media only screen and (max-width: 1400px)
{
	table[data-collapse="Widescreen"] {
		.card()
	}
}

@media only screen and (max-width: 100px )
{
	table[data-collapse="100px"] {
		.card()
	}
}

@media only screen and (max-width: 200px)
{
	table[data-collapse="200px"] {
		.card()
	}
}

@media only screen and (max-width: 300px)
{
	table[data-collapse="300px"] {
		.card()
	}
}

@media only screen and (max-width: 400px)
{
	table[data-collapse="400px"] {
		.card()
	}
}

@media only screen and (max-width: 500px)
{
	table[data-collapse="500px"] {
		.card()
	}
}

@media only screen and (max-width: 600px)
{
	table[data-collapse="600px"] {
		.card()
	}
}

@media only screen and (max-width: 700px)
{
	table[data-collapse="700px"] {
		.card()
	}
}

@media only screen and (max-width: 800px)
{
	table[data-collapse="800px"] {
		.card()
	}
}

@media only screen and (max-width: 900px)
{
	table[data-collapse="900px"] {
		.card()
	}
}

@media only screen and (max-width: 1000px)
{
	table[data-collapse="1000px"] {
		.card()
	}
}

@media only screen and (max-width: 1100px)
{
	table[data-collapse="1100px"] {
		.card()
	}
}

@media only screen and (max-width: 1200px)
{
	table[data-collapse="1200px"] {
		.card()
	}
}

@media only screen and (max-width: 1300px)
{
	table[data-collapse="1300px"] {
		.card()
	}
}

@media only screen and (max-width: 1400px)
{
	table[data-collapse="1400px"] {
		.card()
	}
}

@media only screen and (max-width: 1500px)
{
	table[data-collapse="1500px"] {
		.card()
	}
}

@media only screen and (max-width: 1600px)
{
	table[data-collapse="1600px"] {
		.card()
	}
}

@media only screen and (max-width: 1700px)
{
	table[data-collapse="1700px"] {
		.card()
	}
}

@media only screen and (max-width: 1800px)
{
	table[data-collapse="1800px"] {
		.card()
	}
}

@media only screen and (max-width: 1900px)
{
	table[data-collapse="1900px"] {
		.card()
	}
}

@media only screen and (max-width: 2000px)
{
	table[data-collapse="2000px"] {
		.card()
	}
}


th[data-chart], td[data-chart] {
	cursor: pointer;
	color: var(--question1);
}

th[data-chart]::before, td[data-chart]::before
{
	font-size: 10px;
	content: '\2031';
	font-family: gate;
	margin-right: 4px;
	text-decoration: none;
}

th[data-chart='pchart']::before, td[data-chart='pchart']::before
{
	content: '\2031';
}

th[data-chart='cchart']::before, td[data-chart='cchart']::before
{
	content: '\2033';
}

th[data-chart='lchart']::before, td[data-chart='lchart']::before
{
	content: '\2032';
}

th[data-chart='dchart']::before, td[data-chart='dchart']::before
{
	content: '\2245';
}

th[data-chart='rchart']::before, td[data-chart='rchart']::before
{
	content: '\2247';
}

th[data-chart='bchart']::before, td[data-chart='bchart']::before
{
	content: '\2246';
}