th[data-chart], td[data-chart] {
	cursor: pointer;
	color: var(--b);
}

th[data-chart]::before, td[data-chart]::before
{
	font-size: 10px;
	content: '\2031';
	font-family: gate;
	margin-right: 4px;
	text-decoration: none;
}

th[data-chart='pchart']::before, td[data-chart='pchart']::before
{
	content: '\2031';
}

th[data-chart='cchart']::before, td[data-chart='cchart']::before
{
	content: '\2033';
}

th[data-chart='lchart']::before, td[data-chart='lchart']::before
{
	content: '\2032';
}

th[data-chart='dchart']::before, td[data-chart='dchart']::before
{
	content: '\2245';
}

th[data-chart='rchart']::before, td[data-chart='rchart']::before
{
	content: '\2247';
}

th[data-chart='bchart']::before, td[data-chart='bchart']::before
{
	content: '\2246';
}


table {

	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	&:first-child {
		margin-top: 0px;
	}
	&:last-child {
		margin-bottom: 0px;
	}

	&:only-child {
		margin-bottom: 0px;
		margin-bottom: 0px
	}

	width: 100%;
	border: none;
	color: black;
	font-weight: normal;
	table-layout: fixed;
	border-spacing: 1px;
	text-decoration: none;
	background-color: #EEEEEE;

	thead, tbody, tfoot, tr, td
	{
		color: inherit;
		font-weight: inherit;
		text-decoration: inherit;
	}

	> * > tr > * > fieldset {
		padding: 0
	}

	tr {
		height: 32px;

		th {
			padding: 4px;
			text-align: left;
			vertical-align: middle;
			background-color: var(--table-head-background-color);
			background-image: var(--table-head-background-image);

			a, button, .g-command
			{
				border: 0;
				padding: 0;
				color: var(--b);
				font-size: 12px;
				cursor: pointer;
				background: none;
				font-weight: normal;
				text-decoration: none;
			}
		}

		td {
			padding: 4px;
			text-align: left;
			word-break: normal;
			vertical-align: middle;
			background-color: transparent;

			> select:only-child,
				> textarea:only-child,
				> input[type='text']:only-child,
				> input[type='password']:only-child {
				width: 100%;
				height: 32px;
				text-indent: 4px;
			}

			> form
			{
				height: 32px;

				> select:only-child,
					> textarea:only-child,
					> input[type='text']:only-child,
					> input[type='password']:only-child {
					width: 100%;
					height: 32px;
					text-indent: 4px;
				}
			}

			&.TOOLTIP {
				color: blue;
				padding: 12px;
				background-image: none;
				border: 1px dashed gray;
				background-color: #F0F0F4;
			}

			&.SEPARATOR {
				height: 0px;
				color: blue;
				margin: 0px;
				padding: 0px;
				background-image: none;
				border: 1px dotted gray;
				background-color: #CBCAC9;
			}

			a, button, .g-command
			{
				border: 0;
				padding: 0;
				color: var(--b);
				font-size: 12px;
				cursor: pointer;
				background: none;
				font-weight: normal;
				text-decoration: none;
			}
		}
	}

	> caption {
		height: 32px;
		color: white;
		line-height: 32px;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		border-radius: 5px 5px 0px 0px;
		background-color: var(--table-caption-background-color);
		background-image: var(--table-caption-background-image);
	}

	> thead > tr {
		background-color: var(--main-tinted50)
	}

	> tbody {
		> tr:nth-child(even) {
			background-color: var(--table-body-background-color-even);
		}
		> tr:nth-child(odd) {
			background-color: var(--table-body-background-color-odd);
		}
		> tr.even {
			background-color: var(--table-body-background-color-even);
		}
		> tr.odd  {
			background-color: var(--table-body-background-color-odd);
		}

		> tr[data-action], > tr[data-value], > tr[data-ret]
		{
			cursor: pointer;
			&:focus {
				background-color: var(--hovered);
			}
		}
	}

	> tfoot > tr
	{
		background-color: var(--table-foot-background-color);
		background-image: var(--table-foot-background-image);

		th:only-child{
			text-align: right
		}
		td:only-child{
			text-align: right
		}
	}
}

table.c1 > * > tr > *:nth-child(1), table[data-c1] > * > tr > *:nth-child(1) {
	text-align: center
}
table.c2 > * > tr > *:nth-child(2), table[data-c2] > * > tr > *:nth-child(2) {
	text-align: center
}
table.c3 > * > tr > *:nth-child(3), table[data-c3] > * > tr > *:nth-child(3) {
	text-align: center
}
table.c4 > * > tr > *:nth-child(4), table[data-c4] > * > tr > *:nth-child(4) {
	text-align: center
}
table.c5 > * > tr > *:nth-child(5), table[data-c5] > * > tr > *:nth-child(5) {
	text-align: center
}
table.c6 > * > tr > *:nth-child(6), table[data-c6] > * > tr > *:nth-child(6) {
	text-align: center
}
table.c7 > * > tr > *:nth-child(7), table[data-c7] > * > tr > *:nth-child(7) {
	text-align: center
}
table.c8 > * > tr > *:nth-child(8), table[data-c8] > * > tr > *:nth-child(8) {
	text-align: center
}
table.c9 > * > tr > *:nth-child(9), table[data-c9] > * > tr > *:nth-child(9) {
	text-align: center
}
table.c10 > * > tr > *:nth-child(10), table[data-c10] > * > tr > *:nth-child(10) {
	text-align: center
}
table.c11 > * > tr > *:nth-child(11), table[data-c11] > * > tr > *:nth-child(11) {
	text-align: center
}
table.c12 > * > tr > *:nth-child(12), table[data-c12] > * > tr > *:nth-child(12) {
	text-align: center
}
table.c13 > * > tr > *:nth-child(13), table[data-c13] > * > tr > *:nth-child(13) {
	text-align: center
}
table.c14 > * > tr > *:nth-child(14), table[data-c14] > * > tr > *:nth-child(14) {
	text-align: center
}
table.c15 > * > tr > *:nth-child(15), table[data-c15] > * > tr > *:nth-child(15) {
	text-align: center
}
table.c16 > * > tr > *:nth-child(16), table[data-c16] > * > tr > *:nth-child(16) {
	text-align: center
}
table.c17 > * > tr > *:nth-child(17), table[data-c17] > * > tr > *:nth-child(17) {
	text-align: center
}
table.c18 > * > tr > *:nth-child(18), table[data-c18] > * > tr > *:nth-child(18) {
	text-align: center
}
table.c19 > * > tr > *:nth-child(19), table[data-c19] > * > tr > *:nth-child(19) {
	text-align: center
}
table.c20 > * > tr > *:nth-child(20), table[data-c20] > * > tr > *:nth-child(20) {
	text-align: center
}

.card()
{
	display: flex;
	align-items: stretch;
	flex-direction: column;

	> col {
		display: none
	}
	> thead {
		display: none
	}

	> tbody
	{
		display: flex;
		align-items: stretch;
		flex-direction: column;

		> tr {
			margin: 4px;
			padding: 4px;
			height: auto;
			display: flex;
			border-radius: 5px;
			align-items: stretch;
			flex-direction: column;
			border: 2px solid #CCCCCC;
			justify-content: flex-start;


			> td{
				&:not([title]) {
					display: none
				}

				&[title] {
					margin: 4px;
					padding: 4px;
					display: flex;
					align-items: center;
					justify-content: flex-start;

					&::before {
						float: left;
						text-align: left;
						font-weight: bold;
						margin-right: 8px;
						content: attr(title)":";
					}
				}
			}
		}
	}

	> tfoot {
		order: 1000;

		> tr,
		> tr > td {
			display: flex;
			align-items: center;
			justify-content: center
		}
	}
}


td > label,
th > label {
	width: 100%;
	display: inline-block;

	> i, > span {
		right: 2px;
		color: gray;
		font-size: 10px
			position: absolute;
	}
}




@media only screen and (max-width: 576px)
{
	table[data-collapse="Phone"] {
		.card()
	}
}

@media only screen and (max-width: 768px)
{
	table[data-collapse="Tablet"] {
		.card()
	}
}

@media only screen and (max-width: 992px)
{
	table[data-collapse="Notebook"] {
		.card()
	}
}

@media only screen and (max-width: 1200px)
{
	table[data-collapse="Desktop"] {
		.card()
	}
}

@media only screen and (max-width: 1400px)
{
	table[data-collapse="Widescreen"] {
		.card()
	}
}

@media only screen and (max-width: 100px )
{
	table[data-collapse="100px"] {
		.card()
	}
}

@media only screen and (max-width: 200px)
{
	table[data-collapse="200px"] {
		.card()
	}
}

@media only screen and (max-width: 300px)
{
	table[data-collapse="300px"] {
		.card()
	}
}

@media only screen and (max-width: 400px)
{
	table[data-collapse="400px"] {
		.card()
	}
}

@media only screen and (max-width: 500px)
{
	table[data-collapse="500px"] {
		.card()
	}
}

@media only screen and (max-width: 600px)
{
	table[data-collapse="600px"] {
		.card()
	}
}

@media only screen and (max-width: 700px)
{
	table[data-collapse="700px"] {
		.card()
	}
}

@media only screen and (max-width: 800px)
{
	table[data-collapse="800px"] {
		.card()
	}
}

@media only screen and (max-width: 900px)
{
	table[data-collapse="900px"] {
		.card()
	}
}

@media only screen and (max-width: 1000px)
{
	table[data-collapse="1000px"] {
		.card()
	}
}

@media only screen and (max-width: 1100px)
{
	table[data-collapse="1100px"] {
		.card()
	}
}

@media only screen and (max-width: 1200px)
{
	table[data-collapse="1200px"] {
		.card()
	}
}

@media only screen and (max-width: 1300px)
{
	table[data-collapse="1300px"] {
		.card()
	}
}

@media only screen and (max-width: 1400px)
{
	table[data-collapse="1400px"] {
		.card()
	}
}

@media only screen and (max-width: 1500px)
{
	table[data-collapse="1500px"] {
		.card()
	}
}

@media only screen and (max-width: 1600px)
{
	table[data-collapse="1600px"] {
		.card()
	}
}

@media only screen and (max-width: 1700px)
{
	table[data-collapse="1700px"] {
		.card()
	}
}

@media only screen and (max-width: 1800px)
{
	table[data-collapse="1800px"] {
		.card()
	}
}

@media only screen and (max-width: 1900px)
{
	table[data-collapse="1900px"] {
		.card()
	}
}

@media only screen and (max-width: 1600px)
{
	table[data-collapse="2000px"] {
		.card()
	}
}


div[data-column-sticker]
{
	overflow: auto;

	> table
	{
		position: relative;

		> thead > tr > th
		{
			position: sticky;
			top: 0;
		}

		> tfoot > tr > th
		{
			position: sticky;
			bottom: 0;
		}
	}
}