:root
{
	--phone: 576px;
	--tablet: 768px;
	--notebook: 992px;
	--desktop: 1200px;
	--widescreen: 1400px;
}

:root
{
	--main1: #FFFFFF;
	--main2: #FAFAFA;
	--main3: #F8F8F8;
	--main4: #EEEEEE;
	--main5: #DDDDDD;
	--main6: #CCCCCC;

	--base1: #2f5674;
	--base2: #3f729b;
	--base3: #cfdce6;
	--base4: #d8e3eb;
	--base5: #DDDDDD;
	--base6: #EEEEEE;

	--acent: #c0b9cd;

	--error1: #660000;
	--error2: #FFCCCC;
	--error3: #FFE4E1;

	--success1: #006600;
	--success2: #a3d8a3;
	--success3: #c7ecc7;

	--warning1: #808000;
	--warning2: #EEDD82;
	--warning3: #FFFFCC;

	--question1: #444488;
	--question2: #B0C4DE;
	--question3: #F0F8FF;

	--hovered: #FFFACD;

	--loading: url(data:image/svg+xml;base64,77u/PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMDAgMjAwJz48cGF0aCBmaWxsPScjMDAwMDAwJyBzdHJva2U9JyMwMDAwMDAnIHN0cm9rZS13aWR0aD0nMTUnIHRyYW5zZm9ybS1vcmlnaW49J2NlbnRlcicgZD0nbTE0OCA4NC43IDEzLjgtOC0xMC0xNy4zLTEzLjggOGE1MCA1MCAwIDAgMC0yNy40LTE1Ljl2LTE2aC0yMHYxNkE1MCA1MCAwIDAgMCA2MyA2Ny40bC0xMy44LTgtMTAgMTcuMyAxMy44IDhhNTAgNTAgMCAwIDAgMCAzMS43bC0xMy44IDggMTAgMTcuMyAxMy44LThhNTAgNTAgMCAwIDAgMjcuNSAxNS45djE2aDIwdi0xNmE1MCA1MCAwIDAgMCAyNy40LTE1LjlsMTMuOCA4IDEwLTE3LjMtMTMuOC04YTUwIDUwIDAgMCAwIDAtMzEuN1ptLTQ3LjUgNTAuOGEzNSAzNSAwIDEgMSAwLTcwIDM1IDM1IDAgMCAxIDAgNzBaJz48YW5pbWF0ZVRyYW5zZm9ybSB0eXBlPSdyb3RhdGUnIGF0dHJpYnV0ZU5hbWU9J3RyYW5zZm9ybScgY2FsY01vZGU9J3NwbGluZScgZHVyPScyJyB2YWx1ZXM9JzA7MTIwJyBrZXlUaW1lcz0nMDsxJyBrZXlTcGxpbmVzPScwIDAgMSAxJyByZXBlYXRDb3VudD0naW5kZWZpbml0ZSc+PC9hbmltYXRlVHJhbnNmb3JtPjwvcGF0aD48L3N2Zz4=);
}