.theme-light() {
	--text: #000000;

	--main1: #FFFFFF;
	--main2: #FAFAFA;
	--main3: #F8F8F8;
	--main4: #F0F0F0;
	--main5: #DDDDDD;
	--main6: #CCCCCC;

	--base1: #2f5674;
	--base2: #3f729b;
	--base3: #cfdce6;
	--base4: #d8e3eb;
	--base5: #DDDDDD;
	--base6: #EEEEEE;

	--acent: #c0b9cd;

	--r1: #660000;
	--r2: #FFCCCC;
	--r3: #FFE4E1;

	--g1: #006600;
	--g2: #a3d8a3;
	--g3: #c7ecc7;

	--y1: #808000;
	--y2: #EEDD82;
	--y3: #FFFFCC;

	--b1: #444488;
	--b2: #B0C4DE;
	--b3: #F0F8FF;

	--hovered: #FFFACD;
}

.theme-dark() {
	--text: #FFFFFF;

	--main1: #1a1a1a;
	--main2: #222222;
	--main3: #2a2a2a;
	--main4: #333333;
	--main5: #444444;
	--main6: #555555;

	--base1: #4a7ba7;
	--base2: #5a8bc4;
	--base3: #2a3c4a;
	--base4: #344048;
	--base5: #444444;
	--base6: #333333;

	--acent: #d4c9e0;

	--r1: #cc4444;
	--r2: #4a1a1a;
	--r3: #3a1a1a;

	--g1: #44cc44;
	--g2: #1a4a1a;
	--g3: #1a3a1a;

	--y1: #cccc44;
	--y2: #4a4a1a;
	--y3: #3a3a1a;

	--b1: #7777cc;
	--b2: #2a3244;
	--b3: #1a1f2a;

	--hovered: #2a2522;
}


:root {
	.theme-light();
	--loading: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0IiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMyI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIzOzEuNTszIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PC9zdmc+);
}

:root:has(g-theme-selector[value="true"]) {
	.theme-dark();
}

@media (prefers-color-scheme: dark) {
	:root {
		.theme-dark();
	}

	:root:has(g-theme-selector[value="true"]) {
		.theme-light();
	}
}