.theme-light() {
	--text1: #000000;
	--text2: #FFFFFF;

	--main1: #FFFFFF;
	--main2: #FAFAFA;
	--main3: #F8F8F8;
	--main4: #F0F0F0;
	--main5: #DDDDDD;
	--main6: #CCCCCC;

	--base1: #2f5674;
	--base2: #3f729b;
	--base3: #cfdce6;
	--base4: #d8e3eb;
	--base5: #DDDDDD;
	--base6: #EEEEEE;

	--acent: #c0b9cd;

	--r1: #660000;
	--r2: #884444;
	--r3: #FFAAAA;

	--g1: #003300;
	--g2: #448844;
	--g3: #a8d8a8;

	--y1: #808000;
	--y2: #EEDD82;
	--y3: #FFFFCC;

	--b1: #00334D;
	--b2: #2A6B9A;
	--b3: #A8D8F0;

	--hovered: #FFFACD;
}

.theme-dark() {
	--text1: #FFFFFF;
	--text2: #000000;

	--main1: #1a1a1a;
	--main2: #222222;
	--main3: #2a2a2a;
	--main4: #333333;
	--main5: #444444;
	--main6: #555555;

	--base1: #4a7ba7;
	--base2: #5a8bc4;
	--base3: #2a3c4a;
	--base4: #344048;
	--base5: #444444;
	--base6: #333333;

	--acent: #d4c9e0;

	--r1: #FFAAAA;
	--r2: #884444;
	--r3: #660000;

	--g1: #a8d8a8;
	--g2: #448844;
	--g3: #003300;

	--y1: #cccc44;
	--y2: #4a4a1a;
	--y3: #3a3a1a;

	--b1: #A8D8F0;
	--b2: #2A6B9A;
	--b3: #00334D;

	--hovered: #2a2522;
}


:root {
	.theme-light();
	--loading: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSI0IiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMyI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIzOzEuNTszIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIvPjwvY2lyY2xlPjxjaXJjbGUgY3g9IjIwIiBjeT0iMTIiIHI9IjEuNSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSIwLjc1cyIgdmFsdWVzPSIxLjU7MzsxLjUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+PC9jaXJjbGU+PC9zdmc+);
}

:root:has(g-theme-selector[value="true"]) {
	.theme-dark();
}

@media (prefers-color-scheme: dark) {
	:root {
		.theme-dark();
	}

	:root:has(g-theme-selector[value="true"]) {
		.theme-light();
	}
}