g-datetime-interval-selector
{
	display:flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> g-datetime-selector { flex-grow: 1;
				flex-basis: 50%;}
}