g-report-selector { width: 100%;
		    height: auto;
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    justify-content: flex-start;
		    background-image: linear-gradient(to bottom, #FDFAE9 0%, #B3B0A4 100%);

		    > a {   margin: 8px;
			    display: flex;
			    height: 128px;
			    flex-grow: 1;
			    cursor: pointer;
			    font-size: 24px;
			    min-width: 128px;
			    border-radius: 5px;
			    align-items: center;
			    flex-direction: column;
			    justify-content: center;
			    background-color: white;
			    flex-basis: calc(25% - 16px);

			    &:hover { background-color: var(--hovered) }

			    > i
			    {
				    order: -1;
				    margin: 8px;
				    font-size: 50px;
				    border-radius: 5px;
			    }
		    }
}