g-time-selector
{
	display:flex;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> g-slider { flex-grow: 1;
		     flex-shrink: 1;
		     flex-basis: 50%; }
}