g-time-interval-selector
{
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> g-time-selector { flex-grow: 1;
			    flex-basis: 50%;}
}