g-download-status { width: 100%;
		  display: flex;
		  padding: 10px;
		  border-radius: 5px;
		  align-items: stretch;
		  flex-direction: column;
		  justify-content: center;
		  background-image: linear-gradient(to bottom, #FDFAE9 0%, #B3B0A4 100%);}
