dialog {position: absolute;
	left: 0; right: 0;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: fit-content;
	margin: auto;
	border: solid;
	padding: 1em;
	background: white;
	color: black;
	display: block;
}

dialog:not([open]) { display: none; }

dialog + .backdrop { top: 0;
		     left: 0;
		     right: 0;
		     bottom: 0;
		     position: fixed;
		     background: rgba(0,0,0,0.1); }

._dialog_overlay { top: 0;
		   left: 0;
		   right: 0;
		   bottom: 0;
		   position: fixed; }

dialog.fixed { top: 50%;
	       position: fixed;
	       transform: translate(0, -50%); }

dialog { padding: 0;
	 border: 4px solid #767d90;
	 background-color: @main; }