g-message, .g-message {

	> main { width: 80%;
		 height:280px;
		 min-width:320px;
		 max-width:800px;

		 > section {

			 &::before { display: flex;
				     color: inherit;
				     flex-shrink: 0;
				     font-size: 80px;
				     flex-basis: 160px;
				     align-items: center;
				     font-family: 'gate';
				     justify-content: center;
				     background-color: white; }

			 > label { flex-grow: 1;
				   padding: 8px;
				   display: flex;
				   color: inherit;
				   font-size: 20px;
				   align-items: center;
				   background-color: white;
				   &::first-line  { text-indent: 40px; }
			 }
		 }
	}

	&[type="INFO"] { color: black;
			 > main > section::before { content: "\2015" }
	}

	&[type="ERROR"] { color: var(--r);
			  > main > section::before { content: "\1001" }
	}

	&[type="SUCCESS"] { color: var(--g);
			    > main > section::before { content: "\1000" }
	}

	&[type="WARNING"] { color: var(--y);
			    > main > section::before { content: "\1007" }
	}
}



