ul.DeskMenu, ul.DeskMenu ul { margin: 0; padding: 0 }

ul.DeskMenu { display: flex;
	      flex-wrap: wrap;
	      align-items: flex-start;
	      justify-content: flex-start }

ul.DeskMenu > li { width: 9%;
		   margin: 0.5%;
		   border-radius: 5px;
		   list-style-type: none;
		   background-color: #FFFFFF;
		   border: 1px solid #CCCCCC; }

ul.DeskMenu > li:hover { border: 1px solid #F0E68C; }

ul.DeskMenu > li > a,
ul.DeskMenu > li > button { padding: 8px;
			    height: 100%;
			    display: flex;
			    text-align: center;
			    align-items: center;
			    flex-direction: column;
			    justify-content: space-around;  }

ul.DeskMenu > li > a::before,
ul.DeskMenu > li > button::before { padding: 8px;
				    font-size: 32px;
				    font-family: gate; }

ul.DeskMenu > li > a[data-icon]::before,
ul.DeskMenu > li > button[data-icon]::before { content: attr(data-icon); }

ul.DeskMenu > li > * { width: 100% }
ul.DeskMenu > li > *:first-child { border-radius: 5px 0 0 5px }
ul.DeskMenu > li > *:last-child { border-radius: 0 0 5px 5px }

ul.DeskMenu ul { display: none }

ul.DeskMenu > li.Reset > a { font-size: 20px;
                             border-radius: 5px;
                             background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%) }