fieldset {
  gap: 4px;
  border: none;
  display: grid;
  margin-top: 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #F8F8F8;
  border: 1px solid #E8E8E8;
  grid-template-columns: repeat(16, 1fr);
}
fieldset:first-child {
  margin-top: 0px;
}
fieldset:last-child {
  margin-bottom: 0px;
}
fieldset:only-child {
  margin-bottom: 0px;
}
fieldset > * {
  grid-column: span 16;
}
fieldset > legend {
  padding: 6px;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  align-items: center;
  background-color: #E8E8E8;
}
fieldset > legend > i,
fieldset > legend > g-icon {
  order: -1;
  margin-right: 4px;
  font-size: inherit;
}
fieldset > legend > img {
  order: -1;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
fieldset > legend label {
  height: 20px;
  display: flex;
  align-items: center;
}
fieldset > label {
  padding: 4px;
  display: flex;
  font-size: 14px;
  grid-column: span 16;
  flex-direction: column;
}
fieldset > label > span,
fieldset > label > form {
  flex-grow: 1;
  display: flex;
  flex-basis: 38px;
  text-indent: 4px;
  border-radius: 3px;
  align-items: center;
  border: 1px solid #CCCCCC;
  background-color: #F4F4F4;
}
fieldset > label > span > *,
fieldset > label > form > * {
  border: none;
}
fieldset > label > span input,
fieldset > label > form input,
fieldset > label > span select,
fieldset > label > form select {
  padding: 8px 4px 8px 4px;
}
fieldset > label > span input,
fieldset > label > form input,
fieldset > label > span textarea,
fieldset > label > form textarea,
fieldset > label > span select,
fieldset > label > form select,
fieldset > label > span g-selectn,
fieldset > label > form g-selectn {
  height: 100%;
  flex-grow: 1;
  font-size: 14px;
}
fieldset > label > span textarea,
fieldset > label > form textarea {
  resize: none;
}
fieldset > label > span input:invalid,
fieldset > label > form input:invalid,
fieldset > label > span select:invalid,
fieldset > label > form select:invalid,
fieldset > label > span textarea:invalid,
fieldset > label > form textarea:invalid {
  box-shadow: inset 0 0 1px 1px rgba(255, 0, 0, 0.75);
}
fieldset > label > span input:focus,
fieldset > label > form input:focus,
fieldset > label > span select:focus,
fieldset > label > form select:focus,
fieldset > label > span textarea:focus,
fieldset > label > form textarea:focus {
  outline: none;
  background-color: var(--hovered);
}
fieldset > label > span * + a,
fieldset > label > form * + a,
fieldset > label > span * + input,
fieldset > label > form * + input,
fieldset > label > span * + button,
fieldset > label > form * + button,
fieldset > label > span * + command,
fieldset > label > form * + command,
fieldset > label > span * + select,
fieldset > label > form * + select {
  border-left: 1px solid #CCCCCC;
}
fieldset > label > span > a,
fieldset > label > form > a,
fieldset > label > span > button,
fieldset > label > form > button,
fieldset > label > span > .g-command,
fieldset > label > form > .g-command {
  color: black;
  height: 100%;
  flex-grow: 0;
  display: flex;
  text-indent: 0;
  flex-shrink: 0;
  min-width: 48px;
  flex-basis: 48px;
  align-items: stretch;
  text-decoration: none;
  justify-content: center;
}
fieldset > label > span > a > i,
fieldset > label > form > a > i,
fieldset > label > span > button > i,
fieldset > label > form > button > i,
fieldset > label > span > .g-command > i,
fieldset > label > form > .g-command > i,
fieldset > label > span > a > g-icon,
fieldset > label > form > a > g-icon,
fieldset > label > span > button > g-icon,
fieldset > label > form > button > g-icon,
fieldset > label > span > .g-command > g-icon,
fieldset > label > form > .g-command > g-icon {
  flex-grow: 1;
  display: flex;
  text-indent: 0;
  align-items: center;
  justify-content: center;
}
fieldset > label > span > a:hover,
fieldset > label > form > a:hover,
fieldset > label > span > button:hover,
fieldset > label > form > button:hover,
fieldset > label > span > .g-command:hover,
fieldset > label > form > .g-command:hover {
  background-color: var(--acent);
}
fieldset > label > span > a:focus,
fieldset > label > form > a:focus,
fieldset > label > span > button:focus,
fieldset > label > form > button:focus,
fieldset > label > span > .g-command:focus,
fieldset > label > form > .g-command:focus {
  background-color: var(--hovered);
}
fieldset > label > span > input[type='checkbox'],
fieldset > label > form > input[type='checkbox'],
fieldset > label > span > input[type='radio'],
fieldset > label > form > input[type='radio'] {
  margin: 0;
  flex-basis: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
@media only screen and (min-width: 576px) {
  fieldset > *[data-size="1"] {
    grid-column: span 8;
  }
}
@media only screen and (min-width: 768px) {
  fieldset > *[data-size="1"] {
    grid-column: span 4;
  }
  fieldset > *[data-size="2"] {
    grid-column: span 8;
  }
}
@media only screen and (min-width: 992px) {
  fieldset > *[data-size="1"] {
    grid-column: span 2;
  }
  fieldset > *[data-size="2"] {
    grid-column: span 4;
  }
  fieldset > *[data-size="4"] {
    grid-column: span 8;
  }
}
@media only screen and (min-width: 1200px) {
  fieldset > *[data-size="1"] {
    grid-column: span 1;
  }
  fieldset > *[data-size="2"] {
    grid-column: span 2;
  }
  fieldset > *[data-size="4"] {
    grid-column: span 4;
  }
  fieldset > *[data-size="8"] {
    grid-column: span 8;
  }
}
