g-desk-pane {
  margin: 0;
  padding: 0;
  width: 100%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}
g-desk-pane g-desk-pane :is(g-desk-pane, a, button, hr) {
  display: none;
}
g-desk-pane > hr {
  border: solid 4px #BBBBBB;
  flex-basis: calc(100% - 8px);
}
g-desk-pane > hr:first-child,
g-desk-pane > hr:last-child,
g-desk-pane > hr + hr {
  display: none;
}
g-desk-pane > :is(g-desk-pane, a, button) {
  margin: 4px;
  padding: 8px;
  display: flex;
  color: inherit;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  font-weight: inherit;
  border: 2px solid white;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);
  flex-basis: calc(100% - 8px);
}
g-desk-pane > :is(g-desk-pane, a, button) > i {
  order: -1;
  width: 48px;
  height: 48px;
  display: flex;
  color: inherit;
  font-size: 40px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
g-desk-pane > :is(g-desk-pane, a, button) > img {
  width: 48px;
  height: 48px;
  order: -1;
  margin-right: 8px;
}
@media only screen and (min-width: 992px) {
  g-desk-pane > :is(g-desk-pane, a, button) {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  g-desk-pane > :is(g-desk-pane, a, button) {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 768px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='1'],
  g-desk-pane > :is(g-desk-pane, a, button)[x1] {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 992px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='1'],
  g-desk-pane > :is(g-desk-pane, a, button)[x1] {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='1'],
  g-desk-pane > :is(g-desk-pane, a, button)[x1] {
    flex-basis: calc(12.5% - 8px);
  }
}
@media only screen and (min-width: 992px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='2'],
  g-desk-pane > :is(g-desk-pane, a, button)[x2] {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='2'],
  g-desk-pane > :is(g-desk-pane, a, button)[x2] {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  g-desk-pane > :is(g-desk-pane, a, button)[data-size='4'],
  g-desk-pane > :is(g-desk-pane, a, button)[x4] {
    flex-basis: calc(50% - 8px);
  }
}
g-desk-pane > :is(g-desk-pane, a, button)[data-size='8'],
g-desk-pane > :is(g-desk-pane, a, button)[x8] {
  flex-basis: calc(100% - 8px);
}
g-desk-pane > :is(g-desk-pane, a, button):hover {
  border-color: #FFFACD;
  background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD);
}
ul.DeskPane {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}
ul.DeskPane a {
  color: black;
}
ul.DeskPane ul {
  display: none;
  margin: 0;
  padding: 0;
}
ul.DeskPane > li {
  margin: 4px;
  display: flex;
  cursor: pointer;
  flex-basis: 100%;
  border-radius: 5px;
  align-items: stretch;
  list-style-type: none;
  align-content: stretch;
  justify-content: center;
  border: 2px solid white;
  background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);
  flex-basis: calc(100% - 8px);
}
@media only screen and (min-width: 992px) {
  ul.DeskPane > li {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  ul.DeskPane > li {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 768px) {
  ul.DeskPane > li[data-size='1'],
  ul.DeskPane > li[x1] {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 992px) {
  ul.DeskPane > li[data-size='1'],
  ul.DeskPane > li[x1] {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  ul.DeskPane > li[data-size='1'],
  ul.DeskPane > li[x1] {
    flex-basis: calc(12.5% - 8px);
  }
}
@media only screen and (min-width: 992px) {
  ul.DeskPane > li[data-size='2'],
  ul.DeskPane > li[x2] {
    flex-basis: calc(50% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  ul.DeskPane > li[data-size='2'],
  ul.DeskPane > li[x2] {
    flex-basis: calc(25% - 8px);
  }
}
@media only screen and (min-width: 1200px) {
  ul.DeskPane > li[data-size='4'],
  ul.DeskPane > li[x4] {
    flex-basis: calc(50% - 8px);
  }
}
ul.DeskPane > li[data-size='8'],
ul.DeskPane > li[x8] {
  flex-basis: calc(100% - 8px);
}
ul.DeskPane > li:hover {
  border-color: #FFFACD;
  background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD);
}
ul.DeskPane > li > a,
ul.DeskPane > li > button {
  padding: 8px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  color: inherit;
  cursor: inherit;
  text-align: center;
  align-items: center;
  font-weight: inherit;
  align-content: stretch;
  justify-content: flex-start;
}
ul.DeskPane > li > a > i,
ul.DeskPane > li > button > i {
  order: -1;
  width: 48px;
  height: 48px;
  display: flex;
  color: inherit;
  font-size: 40px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}
ul.DeskPane > li > a > img,
ul.DeskPane > li > button > img {
  width: 48px;
  height: 48px;
  order: -1;
  margin-right: 8px;
}
ul.DeskPane > li > a[data-disabled],
ul.DeskPane > li > button[data-disabled] {
  color: var(--r);
  cursor: not-allowed;
}
ul.DeskPane > li.Reset {
  color: var(--g);
}
ul.DeskPane > li.Reset > a {
  font-size: 20px;
}
