g-dialog > main,
.g-dialog > main {
  border-radius: 0;
  position: relative;
}
g-dialog > main > header > g-navbar,
.g-dialog > main > header > g-navbar {
  display: none;
}
@media only screen and (min-width: 786px) {
  g-dialog > main > header > g-navbar,
  .g-dialog > main > header > g-navbar {
    display: flex;
  }
}
@media only screen and (min-width: 640px) {
  g-dialog > main,
  .g-dialog > main {
    border-radius: 5px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }
}
g-dialog > main > section > iframe,
.g-dialog > main > section > iframe,
g-dialog > main > section > div,
.g-dialog > main > section > div,
g-dialog > main > section > dialog,
.g-dialog > main > section > dialog {
  margin: 0;
  border: none;
  padding: 0px;
  flex-grow: 1;
  overflow: hidden;
}
g-dialog > main > section > iframe,
.g-dialog > main > section > iframe {
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: center;
  background-image: var(--loading);
}
