g-icon-pane {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
}
g-icon-pane g-icon-pane :is(g-icon-pane, a, button, hr) {
  display: none;
}
g-icon-pane > hr {
  border: solid 4px #BBBBBB;
  flex-basis: calc(100% - 8px);
}
g-icon-pane > hr:first-child,
g-icon-pane > hr:last-child,
g-icon-pane + hr {
  display: none;
}
g-icon-pane > :is(g-icon-pane, a, button) {
  order: 1;
  margin: 4px;
  padding: 4px;
  color: black;
  height: 100px;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  flex-basis: 200px;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 1px solid transparent;
}
g-icon-pane > :is(g-icon-pane, a, button) > i,
g-icon-pane > :is(g-icon-pane, a, button) > e {
  order: -1;
  margin: 8px;
  font-size: 2em;
  cursor: inherit;
}
g-icon-pane > :is(g-icon-pane, a, button) > img {
  width: 48px;
  height: 48px;
  order: -1;
  margin-right: 8px;
}
g-icon-pane > :is(g-icon-pane, a, button):hover {
  border-color: #FFFACD;
}
