g-popup > main,
.g-popup > main {
  border-radius: 0;
  position: relative;
  width: auto;
  height: auto;
}
@media only screen and (min-width: 640px) {
  g-popup > main,
  .g-popup > main {
    border-radius: 5px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
  }
}
g-popup > main > section > *,
.g-popup > main > section > * {
  flex-grow: 1;
}
a[target='_popup'] > div {
  display: none;
}
