g-progress-window,
.g-progress-window {
  overflow: auto;
  background-color: var(--g-stack-frame-background-color);
  background-image: var(--g-stack-frame-background-image);
}
g-progress-window > div,
.g-progress-window > div {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}
