g-select {
  width: 100%;
  background-color: white;
}
g-select > label {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: left;
}
g-select > label > input {
  order: -1;
}
