g-tabbar {
  border: none;
  height: auto;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  justify-content: flex-start;
  color: var(--g-tabbar-color);
  background-color: var(--g-tabbar-background-color);
  background-image: var(--g-tabbar-background-image);
}
g-tabbar hr {
  border: none;
  flex-grow: 1;
  background-color: transparent;
}
g-tabbar > a,
g-tabbar > button,
g-tabbar > .g-command {
  margin: 4px;
  padding: 4px;
  height: auto;
  flex-grow: 1;
  display: flex;
  color: inherit;
  flex-shrink: 1;
  max-width: 160px;
  border-radius: 5px;
  white-space: nowrap;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-around;
}
g-tabbar > a:focus,
g-tabbar > button:focus,
g-tabbar > .g-command:focus {
  outline: none;
}
g-tabbar > a:hover,
g-tabbar > button:hover,
g-tabbar > .g-command:hover {
  color: var(--g-tabbar-hovered-color);
  background-color: var(--g-tabbar-hovered-background-color);
  background-image: var(--g-tabbar-hovered-background-image);
}
g-tabbar > a[aria-selected],
g-tabbar > button[aria-selected],
g-tabbar > .g-command[aria-selected] {
  color: var(--g-tabbar-selected-color);
  background-color: var(--g-tabbar-selected-background-color);
  background-image: var(--g-tabbar-selected-background-image);
}
g-tabbar > a > i,
g-tabbar > button > i,
g-tabbar > .g-command > i,
g-tabbar > a > e,
g-tabbar > button > e,
g-tabbar > .g-command > e {
  order: -1;
  display: flex;
  min-width: 60px;
  font-size: 16px;
  margin-bottom: 4px;
  align-items: center;
  justify-content: center;
}
g-tabbar > *[hidden="true"] {
  display: none;
}
