body {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
body > main {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0px;
  display: grid;
  position: absolute;
  grid-template-rows: auto auto 1fr auto;
}
body > main > header {
  grid-row: 1;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  background-color: #3f729b;
}
body > main > header > * {
  margin: 0 8px 0 8px;
}
body > main > header > img {
  width: 28px;
  height: 30px;
  display: flex;
  font-size: 48px;
  align-items: center;
  grid-row: 1 / span 2;
  justify-content: center;
}
body > main > header > *:nth-child(2) {
  flex-grow: 1;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: flex-start;
}
body > main > header > *:nth-child(3) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
body > main > nav {
  margin: 0;
  grid-row: 2;
  border: none;
  padding: 4px;
  display: grid;
  align-items: center;
  justify-items: stretch;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  background-color: #F8F8F8;
}
body > main > nav {
  grid-row: 2;
}
body > main > section {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0;
  grid-row: 3;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  background-color: white;
}
body > main > section > article {
  margin: 0;
  padding: 0;
  grid-row: 3;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}
body > main > section > article > header {
  grid-row: 1;
}
body > main > section > article > nav {
  grid-row: 2;
}
body > main > section > article > section,
body > main > section > article > article {
  grid-row: 3;
  overflow: auto;
  overflow-x: hidden;
  gap: 12px;
  display: flex;
  flex-direction: column;
}
body > main > section > article > footer {
  grid-row: 4;
  overflow: auto;
  overflow-x: hidden;
}
body > main > section > article > * {
  margin-top: 10px;
}
body > main > section > article > *:first-child {
  margin-top: 0px;
}
body > main > section > article > *:only-child {
  margin-top: 0px;
}
body > main > footer {
  bottom: 0;
  grid-row: 4;
  height: 22px;
  padding: 4px;
  display: flex;
  font-size: 12px;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
}
body > main > footer > label {
  font-size: inherit;
}
form {
  gap: 12px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
form.Login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form.Login > main {
  width: 600px;
  min-width: 320px;
  background-color: #F8F8F8;
  max-width: calc(100% - 16px);
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.75);
}
form.Login > main > header {
  gap: 8px;
  padding: 8px;
  height: 50px;
  color: white;
  display: flex;
  align-items: stretch;
  background-color: #3f729b;
  justify-content: space-around;
}
form.Login > main > header > img {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form.Login > main > header > *:nth-child(2) {
  flex-grow: 1;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
}
form.Login > main > header > *:nth-child(3) {
  display: flex;
  font-size: 12px;
  align-items: flex-start;
  justify-content: flex-end;
}
form.Login > main > section {
  padding: 10px;
}
form.Login > main > section > g-tab-control a {
  grid-column: span 1;
}
@media only screen and (min-width: 768px) {
  form.Login > main > section > g-tab-control a {
    grid-column: span 2;
  }
}
form.Login > main > footer {
  padding: 10px;
}
