nav {
  width: auto;
  display: flex;
  align-items: center;
  background-color: transparent;
}
nav > a {
  color: black;
  padding: 8px;
  display: flex;
  font-size: 16px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}
nav > a:hover {
  background-color: #F0F0F0;
}
