*[data-visibility] {
  display: none;
}
@media only screen and (min-width: 576px) {
  *[data-visibility='Phone'] {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  *[data-visibility='Tablet'] {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  *[data-visibility='Notebook'] {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  *[data-visibility='Desktop'] {
    display: block;
  }
}
@media only screen and (min-width: 1400px) {
  *[data-visibility='Widescreen'] {
    display: block;
  }
}
