g-block > main,
.g-block > main
{
	width: 800px;
	height: 160px;
	max-width: 80%;

	> section
	{
		flex-grow: 1;
		align-items: stretch;
		justify-content: center;
		flex-direction:  column;

		> progress
		{
			flex-grow: 1;
			width: 100%;
		}
	}

	> footer > digital-clock
	{
		padding: 8px;
		color: black;
		display: flex;
		font-size: 16px;
		flex-basis: 100%;
		align-items: center;
		justify-content: flex-end;
	}
}