tr.RChart, td.RChart,
tr.DChart, td.DChart,
tr.PChart, td.PChart,
tr.AChart, td.AChart,
tr.LChart, td.LChart,
tr.BChart, td.BChart,
tr.CChart, td.CChart { cursor: pointer }

td.RChart:hover,
td.DChart:hover,
td.PChart:hover,
td.AChart:hover,
td.LChart:hover,
td.BChart:hover,
td.CChart:hover { color: #000066; font-weight: bold; }

div.ChartDialog {
	display: flex;
	position: fixed;
	border-radius: 5px;
	flex-direction: column;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	border: 4px solid var(--base-shaded35);
	box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);

	> div:first-child {
		color: white;
		height: 40px;
		padding: 8px;
		outline: none;
		display: flex;
		font-size: 20px;
		font-weight: bold;
		align-items: stretch;
		justify-content: flex-start;
		background-color: var(--base-shaded35);

		> span { flex-grow: 1; }

		> a { display: flex;
		      color: inherit;
		      cursor: pointer;
		      flex-basis: 48px;
		      font-family: gate;
		      font-size: inherit;
		      align-items: center;
		      justify-content: center; }
	}

	> div:last-child {
		display: flex;
		align-items: stretch;
		background-color: white;
		height: calc(100% - 40px);

		>  div { margin: 0px;
			 border: none;
			 flex-grow: 1;
			 padding: 0px; }
	}
}



