g-commands
{
	color: white;
	height: 30px;
	outline: none;
	display: flex;
	font-size: 20px;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: inherit;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;

	> g-command, > a, > button
	{
		width: 32px;
		margin: 2px;
		color: inherit;
		font-size: 0px;
		cursor: pointer;
		&:hover { color: var(--hovered); }

		> i { color: white;
		      font-size: 20px;
		      &:hover { color: var(--hovered); }
		}
	}
}

body
{
	> g-command, > a, > button
	{
		height: 40px;
		padding: 4px;
		min-height: 40px;
		flex-basis: 40px;
		font-weight: bold;
		background-color: var(--base-shaded35);
	}
}