g-context-menu
{
	margin: 0;
	padding: 0;
	color: black;
	width: 280px;
	display: none;
	z-index: 1000;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	align-items: stretch;
	flex-direction: column;
	box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);

	> a, > button, > g-command
	{
		padding: 8px;
		display: flex;
		color: inherit;
		flex-basis: 32px;
		font-size: inherit;
		align-items: center;
		justify-content: flex-start;
		border: 1px solid var(--base);
		background-color: var(--main-tinted50);
		&:hover { background-color: var(--acent-tinted35); }
		> i { order: -1;
		      color: inherit;
		      font-size: inherit; 
		      margin-right: 8px }
	}
}