*.COOLBAR:first-child, *.Coolbar:first-child { margin-top: 0px }

*.COOLBAR, *.Coolbar { .margin();
		       width: 100%;
		       height: 40px;
		       padding: 2px;
		       border-radius: 5px;
		       background-image: @main_gradient;

		       > * { margin: 2px;
			     height: calc(100% - 4px); }

		       > a ,
		       > button { color: black;
				  margin: 2px;
				  padding: 4px;
				  float: right;
				  display: flex;
				  cursor: pointer;
				  min-width: 90px;
				  font-size: 10px;
				  font-weight: bold;
				  border-radius: 5px;
				  align-items: center;
				  border: 1px solid #CCCCCC;
				  justify-content: space-between;
				  background-image: @neutral_gradient; }

		       > a:hover,
			       > button:hover { background-image: @acent_gradient }

		       > a:focus,
			       > button:focus { outline: none;
					border: 2px solid #FFFACD; }

		       > a > i,
		       > a > span,
		       > button > i,
		       > button > span { order: 1;
					 display: flex;
					 color: inherit;
					 cursor: inherit;
					 font-size: 12px;
					 margin-left: 8px;
					 align-items: center;
					 justify-content: center; }

		       > a.Delete,
		       > button.Delete { color: @R }

		       > a.Commit,
		       > button.Commit { color: @G }

		       > a.Action,
		       > button.Action { color: @B; }

		       > a.Cancel,
		       > button.Cancel { color: @R;
					 float: left; }

		       > a.Return,
		       > button.Return { color: @R;
					 float: left; }

		       > progress { width: calc(100% - 4px); }

		       > label { float: left;
				 padding: 4px;
				 font-size: 16px;
				 align-items: center;
				 display: inline-flex;
				 justify-content: flex-start;}

		       > hr { width: 12px;
			      float: right;
			      display: inline-block;
			      border: 0px none transparent;
			      background-color: transparent }
}