div.COOLBAR,
div.Coolbar { .margin();
	      width: 100%;
	      height: 48px;
	      padding: 4px;
	      display: block;
	      overflow: hidden;
	      border-radius: 5px;
	      background-image: @main_gradient;

	      > * { margin: 2px;
		    height: 36px; }

	      > a ,
	      > button { color: black;
			 margin: 2px;
			 width: auto;
			 padding: 4px;
			 float: right;
			 display: flex;
			 font-size: 10px;
			 cursor: pointer;
			 min-width: 90px;
			 font-weight: bold;
			 border-radius: 5px;
			 align-items: center;
			 border: 1px solid #CCCCCC;
			 justify-content: space-between;
			 background-image: @neutral_gradient;


			 &:hover { background-image: @acent_gradient }
			 &:focus { outline: none; border: 2px solid @hovered; }


			 &.Delete { color: @R }

			 &.Commit { color: @G }

			 &.Action { color: @B; }

			 &.Cancel { color: @R; float: left; }

			 &.Return { color: @R; float: left; }

			 > i,
			 > span { order: 1;
				  display: flex;
				  color: inherit;
				  cursor: inherit;
				  font-size: 12px;
				  margin-left: 4px;
				  align-items: center;
				  justify-content: center; }

			 &:only-child { float: right }
	      }

	      > progress { width: calc(100% - 4px) }

	      > label { float: left;
			padding: 4px;
			font-size: 16px;
			align-items: center;
			display: inline-flex;
			justify-content: flex-start;}

	      > hr { width: 12px;
		     float: right;
		     max-width: 12px;
		     display: inline-block;
		     border: 0px none transparent;
		     background-color: transparent }
}

div.COOLBAR[data-overflow],
div.Coolbar[data-overflow] {

	height: auto;

	> a, > button
	{
		> i { font-size: 16px;
		      margin-left: 0px; }
		width: 36px;
		padding: 0px;
		font-size: 0px;
		min-width: 0px;
		justify-content: center;

	}
}


g-coolbar
{
	width: 100%;
	height: 48px;
	display: flex;
	overflow: hidden;
	border-radius: 5px;
	align-items: stretch;
	justify-content: space-between;
	background-image: @main_gradient;

	> div
	{

		> * { margin: 2px;
		      height: 36px; }

		flex-grow: 1;
		padding: 4px;
		display:block;
		overflow: auto;
		background-image: @main_gradient;

		> a ,
		> button { color: black;
			   margin: 2px;
			   width: auto;
			   padding: 4px;
			   float: right;
			   display: flex;
			   font-size: 10px;
			   cursor: pointer;
			   min-width: 90px;
			   font-weight: bold;
			   border-radius: 5px;
			   align-items: center;
			   border: 1px solid #CCCCCC;
			   justify-content: space-between;
			   background-image: @neutral_gradient;


			   &:hover { background-image: @acent_gradient }
			   &:focus { outline: none; border: 2px solid @hovered; }

			   > i,
			   > span { order: 1;
				    display: flex;
				    color: inherit;
				    cursor: inherit;
				    font-size: 12px;
				    margin-left: 4px;
				    align-items: center;
				    justify-content: center; }
		}
	}


	> a
	{
		display: none;
		cursor: pointer;
		flex-basis: 32px;
		font-family: 'gate';
		align-items: center;
		justify-content: center;
		background-image: @neutral_gradient;
		&:hover { background-image: @acent_gradient }

		> * { display: none }
	}
}