*.COOLBAR, *.Coolbar { .margin();
		       width: 100%;
		       padding: 2px;
		       overflow-x: auto; 
		       border-radius: 5px;
		       background-image: @main_gradient;

		       > * { margin: 2px;
			     height: 36px; }

		       > a ,
		       > button { color: black;
				  margin: 2px;
				  width: 36px;
				  padding: 0px;
				  float: right;
				  display: flex;
				  font-size: 0px;
				  cursor: pointer;
				  font-weight: bold;
				  border-radius: 5px;
				  align-items: center;
				  justify-content: center;
				  border: 1px solid #CCCCCC;
				  background-image: @neutral_gradient;


				  &:hover { background-image: @acent_gradient }
				  &:focus { outline: none; border: 2px solid @hovered; }


				  &.Delete { color: @R }

				  &.Commit { color: @G }

				  &.Action { color: @B; }

				  &.Cancel { color: @R; float: left; }

				  &.Return { color: @R; float: left; }

				  > i,
				  > span { order: 1;
					   margin: 0px;
					   display: flex;
					   color: inherit;
					   cursor: inherit;
					   font-size: 16px;
					   align-items: center;
					   justify-content: center; }

				  &:only-child { float: right }
		       }

		       > progress { width: calc(100% - 4px); }

		       > label { float: left;
				 padding: 4px;
				 font-size: 16px;
				 align-items: center;
				 display: inline-flex;
				 justify-content: flex-start;}

		       > hr { width: 12px;
			      float: right;
			      display: inline-block;
			      border: 0px none transparent;
			      background-color: transparent }



		       .full
		       {
			       width: auto;
			       padding: 4px;
			       font-size: 10px;
			       min-width: 90px;
			       justify-content: space-between;

			       > i { font-size: 12px }
		       }

		       > a:only-child,
			       > button:only-child,
			       > a:first-child:nth-last-child(2),
			       > a:first-child:nth-last-child(2) ~ *,
			       > button:first-child:nth-last-child(2),
			       > button:first-child:nth-last-child(2) ~ *
			       {
			       .full();
		       }

		       @media only screen and (min-width: @breakpoint0) 
			       {
			       > a:first-child:nth-last-child(3),
				       > a:first-child:nth-last-child(3) ~ *,
				       > button:first-child:nth-last-child(3),
				       > button:first-child:nth-last-child(3) ~ *,
				       > a:first-child:nth-last-child(4),
				       > a:first-child:nth-last-child(4) ~ *,
				       > button:first-child:nth-last-child(4),
				       > button:first-child:nth-last-child(4) ~ *,
				       > a:first-child:nth-last-child(5),
				       > a:first-child:nth-last-child(5) ~ *,
				       > button:first-child:nth-last-child(5),
				       > button:first-child:nth-last-child(5) ~ *,
				       > a:first-child:nth-last-child(6),
				       > a:first-child:nth-last-child(6) ~ *,
				       > button:first-child:nth-last-child(6),
				       > button:first-child:nth-last-child(6) ~ *{
				       .full();
			       }
		       }

		       @media only screen and (min-width: @breakpoint1) 
			       {

			       > a:first-child:nth-last-child(7),
				       > a:first-child:nth-last-child(7) ~ *,
				       > button:first-child:nth-last-child(7),
				       > button:first-child:nth-last-child(7) ~ *,
				       > a:first-child:nth-last-child(8),
				       > a:first-child:nth-last-child(8) ~ *,
				       > button:first-child:nth-last-child(8),
				       > button:first-child:nth-last-child(8) ~ *{
				       .full();
			       }
		       }

		       @media only screen and (min-width: @breakpoint2) 
			       {

			       > a:first-child:nth-last-child(9),
				       > a:first-child:nth-last-child(9) ~ *,
				       > button:first-child:nth-last-child(9),
				       > button:first-child:nth-last-child(9) ~ *,
				       > a:first-child:nth-last-child(10),
				       > a:first-child:nth-last-child(10) ~ *,
				       > button:first-child:nth-last-child(10),
				       > button:first-child:nth-last-child(10) ~ *{
				       .full();
			       }
		       }

		       @media only screen and (min-width: @breakpoint3) 
			       {

			       > a:first-child:nth-last-child(11),
				       > a:first-child:nth-last-child(11) ~ *,
				       > button:first-child:nth-last-child(11),
				       > button:first-child:nth-last-child(11) ~ *,
				       > a:first-child:nth-last-child(12),
				       > a:first-child:nth-last-child(12) ~ *,
				       > button:first-child:nth-last-child(12),
				       > button:first-child:nth-last-child(12) ~ *{
				       .full();
			       }
		       }

}