div.DateIntervalSelector
{
	display:flex;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> div { flex-grow: 1; 
		flex-shrink: 0;
		flex-basis: 50%; }
}