ul.DeskMenu
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

	a { color: black; }

	ul { margin: 0;
	     padding: 0 }

	> li { width: 9%;
	       margin: 0.5%;
	       border-radius: 5px;
	       list-style-type: none;
	       background-color: white;
	       border: 1px solid #CCCCCC; }

	> li:hover { border: 1px solid @hovered; }

	> li > a,
	> li > button { padding: 8px;
			height: 100%;
			display: flex;
			text-align: center;
			align-items: center;
			flex-direction: column;
			justify-content: space-around;  }

	> li > a::before,
	> li > button::before { padding: 8px;
				font-size: 32px;
				font-family: gate; }

	> li > a[data-icon]::before,
	> li > button[data-icon]::before { content: attr(data-icon); }

	> li > * { width: 100% }
	> li > *:first-child { border-radius: 5px 0 0 5px }
	> li > *:last-child { border-radius: 0 0 5px 5px }

	ul { display: none }

	> li.Reset > a { font-size: 20px;
			 border-radius: 5px;
			 background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%) }
}






