ul.DeskMenu
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;

	a { color: black; }

	ul { margin: 0;
	     padding: 0;
	     display: none; }

	> li { width: 9%;
	       margin: 0.5%;
	       display: flex;
	       border-radius: 5px;
	       list-style-type: none;
	       flex-direction: column;
	       background-color: white;
	       border: 1px solid #CCCCCC;

	       &:hover { border: 1px solid @hovered; }

	       > a,
	       > button { padding: 8px;
			  height: 100%;
			  display: flex;
			  font-size: 12px;
			  text-align: center;
			  align-items: center;
			  flex-direction: column;
			  justify-content: space-between;

			  > i
			  {
				  order: -1;
				  margin: 8px;
				  font-size: 28px;
			  }
	       }

	       a[data-icon]::before,
	       button[data-icon]::before {  padding: 8px;
					    font-size: 28px;
					    font-family: gate;
					    content: attr(data-icon); }

	       nav { height: 32px; margin: 4px;
		     flex-grow: 1; width: calc(100% - 8px)}
	}




	> li > * { width: 100% }
	> li > *:first-child { border-radius: 5px 0 0 5px }
	> li > *:last-child { border-radius: 0 0 5px 5px }

	> li.Reset > a { border-radius: 5px;
			 background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%) }
}
