ul.DeskPane
{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: transparent;

	a { color: black; }

	ul { display: none;
	     margin: 0; padding: 0}

	> li { width: 24%;
	       margin: 0.5%;
	       display: flex;
	       cursor: pointer;
	       border-radius: 5px;
	       align-items: stretch;
	       list-style-type: none;
	       align-content: stretch;
	       justify-content: center;
	       border: 2px solid white;
	       background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);}

	> li:hover {   border-color: #FFFACD;
		       background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD); }

	> li > a,
	> li > button { padding: 8px;
			height: 100%;
			flex-grow: 1;
			display: flex;
			color: inherit;
			cursor: inherit;
			text-align: center;
			align-items: center;
			font-weight: inherit;
			align-content: stretch;
			justify-content: flex-start;}

	> li > a[data-disabled],
	> li > button [data-disabled]{ color: @R;
				       cursor: not-allowed; }

	> li > a > i { width: 48px; height: 48px; font-size: 40px; display: flex;
		       margin-right: 8px; order: -1;
		       color: inherit; cursor: inherit;
		       align-items: center; justify-content: center }

	> li > a > img { width: 48px; height: 48px; order: -1;  margin-right: 8px; }

	> li.Reset
	{
		color: @G;
		> a { font-size: 20px }
	}
}
