div.Dialog
{
	width: 100%;
	height: 100%;
	display: flex;
	position: fixed;
	flex-direction: column;
	border: 4px solid @base_shaded;

	@media only screen and (min-width: 640px)
		{
		border-radius: 5px;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
		-webkit-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
	}

	> div:first-child
		{
		color: white;
		padding: 0px;
		outline: none;
		display: flex;
		font-size: 20px;
		min-height: 40px;
		flex-basis: 40px;
		font-weight: bold;
		align-items: center;
		background-color: @base_shaded;
		justify-content: space-between;

		> * { margin-left:4px;
		      margin-right: 4px; }

		> label { flex-grow: 1;
			  height: 22px;
			  min-height: 22px;
			  display: flex;
			  color: inherit;
			  font-size: inherit;
			  align-items: center;
			  justify-content: flex-start; }

	}

	> div:last-child { flex-grow: 1;
			   background-image: @noise;
			   background-color: @main_shaded2;

			   display: flex;
			   overflow: auto;
			   align-items: stretch;
			   justify-content: center;
			   -webkit-overflow-scrolling: touch;

			   > iframe,
			   >  div,
			   > dialog { margin: 0px;
				      border: none;
				      padding: 0px;
				      flex-grow: 1;
				      overflow: hidden}

			   > iframe { margin: 0;
				      width: 100%;
				      overflow:  hidden;
				      background-image: @loading;
				      background-position: center;
				      background-repeat: no-repeat;
				      background-position-y: center }
	}
}