g-dialog > main,
.g-dialog > main {

	border-radius: 0;
	position: relative;

	> header > g-navbar
	{
		display: none;
		@media only screen and (min-width: @tablet)
			{ display: flex; }
	}

	@media only screen and (min-width: 640px) { border-radius: 5px;
						    width: calc(100% - 80px);
						    height: calc(100% - 80px);
	}

	> section {
		> iframe,
		>  div,
		> dialog { margin: 0;
			   border: none;
			   padding: 0px;
			   flex-grow: 1;
			   overflow: hidden
		}

		> iframe { width: 100%;
			   overflow:  hidden;
			   background-position: center;
			   background-repeat: no-repeat;
			   background-position-y: center;
			   background-image: var(--loading);
		}
	}
}