ul.HMenu
{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-basis: 100%;

	a { color: black; }

	ul { margin: 0;
	     padding: 0;
	     display: none;
	     z-index: 1000;
	     position: absolute;
	     flex-direction: column;
	     width: calc(100% + 2px); }


	li {  height: 40px;
	      display: flex;
	      flex-basis: 40px;
	      position: relative;
	      align-items: stretch;
	      list-style-type: none;
	      align-content: stretch;
	      justify-content: center;

	      &:hover > ul { display: flex }

	      > a
	      {
		      flex-grow: 1;
		      padding: 0px;
		      display: flex;
		      font-size: 0px;
		      align-items: center;
		      justify-content: center;
		      border: 1px solid @base;
		      background-color: @main_tinted;
		      > i { order: 1; font-size: 16px; }
	      }

	      > ul > li  { top: -1px;
			   width: 100%;
			   min-width: 120px;
			   flex-basis: 40px;

			   > a
			   {
				   padding: 10px;
				   font-size: 10px;
				   justify-content: space-between;
				   > i { font-size: 12px; }
			   }
	      }

	      &:empty { width: auto;
			flex-grow: 1;
			border: none;
			min-width: none;
			max-width: none;
			flex-basis: unset;
			background-color: transparent}
	}

	li a:hover { background-color: @acent_tinted; }

	> li > ul { top: 100%;

		    li > ul { left: 100%; }

		    li:empty { flex-basis: 4px;
			       border: 2px solid @base; }
	}

	> li:not(:first-of-type) > a { border-left: none; }
	ul > li:not(:first-of-type) > a { border-top: none; }

	.full
	{
		flex-grow: 1;
		min-width: 120px;
		max-width: 200px;

		&:empty { min-width: none;
			  max-width: none; }

		> a
		{
			padding: 10px;
			font-size: 10px;
			justify-content: space-between;
			> i { font-size: 12px; }
		}
	}

	> li:only-child,
		> li:first-child:nth-last-child(2),
		> li:first-child:nth-last-child(2) ~ li
		{ .full(); }

	@media only screen and (min-width: @breakpoint0)
		{

		> li:first-child:nth-last-child(3),
			> li:first-child:nth-last-child(3) ~ li,
			> li:first-child:nth-last-child(4),
			> li:first-child:nth-last-child(4) ~ li{
			.full();
		}
	}

	@media only screen and (min-width: @breakpoint1)
		{

		> li:first-child:nth-last-child(5),
			> li:first-child:nth-last-child(5) ~ li,
			> li:first-child:nth-last-child(6),
			> li:first-child:nth-last-child(6) ~ li
			{
			.full();
		}
	}

	@media only screen and (min-width: @breakpoint2)
		{
		> li:first-child:nth-last-child(7),
			> li:first-child:nth-last-child(7) ~ li,
			> li:first-child:nth-last-child(8),
			> li:first-child:nth-last-child(8) ~ li
			{
			.full();
		}
	}

	@media only screen and (min-width: @breakpoint3)
		{
		> li:first-child:nth-last-child(9),
			> li:first-child:nth-last-child(9) ~ li,
			> li:first-child:nth-last-child(10),
			> li:first-child:nth-last-child(10) ~ li
			{
			.full();
		}
	}
}