ul.HMenu
{
	padding: 0;
	margin: 4px;
	width: 100%;
	color: black;
	display: flex;
	flex-basis: 100%;


	ul { margin: 0;
	     padding: 0;
	     width: 160px;
	     display: none;
	     z-index: 1000;
	     position: absolute;
	     align-items: stretch;
	     flex-direction: column; }

	li
	{
		height: 40px;
		color: black;
		display: flex;
		align-items: stretch;
		list-style-type: none;
		justify-content: center;
		&:hover > ul { display: flex }

		> a
		{
			display: flex;
			color: inherit;
			align-items: center;
			border: 1px solid var(--base);
			background-color: var(--main-tinted50);

			&:hover { background-color: var(--acent-tinted35); }

			> i { order: 1; color: inherit; }
		}
	}

	> li { position: relative;
	       align-content: stretch;

	       &:not(:first-of-type) > a { border-left: none; }

	       > a
	       {
		       width: 40px;
		       padding: 0px;
		       font-size: 0px;
		       justify-content: center;
		       > i { font-size: 16px; }

		       &:first-child { border-radius: 5px 0 0 5px }
		       &:last-child { border-radius: 0 5px 5px 0 }
		       &:only-of-type { border-radius: 0 0 0 0 }
	       }

	       > ul { left: 0;
		      top: 100%;

		      li  {
			      &:empty { flex-basis: 4px;
					border: 2px solid var(--base); }


			      flex-grow: 1;

			      > a
			      {
				      flex-grow: 1;
				      padding: 10px;
				      font-size: 10px;
				      justify-content: space-between;
				      > i { font-size: 12px; }
			      }

			      > ul { left: 100%; }
		      }
	       }

	       &:empty { width: auto;
			 flex-grow: 1;
			 border: none;
			 min-width: 8px;
			 max-width: none;
			 flex-basis: unset;
			 background-color: transparent}
	}


	ul > li:not(:first-of-type) > a { border-top: none; }

	.full
	{
		> a:only-of-type
			{
			width: 160px;
			padding: 10px;
			font-size: 10px;
			justify-content: space-between;
			> i { font-size: 12px; }
		}
	}

	@media only screen and (min-width: 180px)
		{

		> li:first-child:nth-last-child(1),
			> li:first-child:nth-last-child(1) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 340px)
		{

		> li:first-child:nth-last-child(2),
			> li:first-child:nth-last-child(2) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 500px)
		{

		> li:first-child:nth-last-child(3),
			> li:first-child:nth-last-child(3) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 660px)
		{

		> li:first-child:nth-last-child(4),
			> li:first-child:nth-last-child(4) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 820px)
		{

		> li:first-child:nth-last-child(5),
			> li:first-child:nth-last-child(5) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 980px)
		{

		> li:first-child:nth-last-child(6),
			> li:first-child:nth-last-child(6) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1140px)
		{

		> li:first-child:nth-last-child(7),
			> li:first-child:nth-last-child(7) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1300px)
		{

		> li:first-child:nth-last-child(8),
			> li:first-child:nth-last-child(8) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1460px)
		{

		> li:first-child:nth-last-child(9),
			> li:first-child:nth-last-child(9) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1620px)
		{

		> li:first-child:nth-last-child(10),
			> li:first-child:nth-last-child(10) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1780px)
		{

		> li:first-child:nth-last-child(11),
			> li:first-child:nth-last-child(11) ~ li {
			.full();
		}
	}

	@media only screen and (min-width: 1940px)
		{

		> li:first-child:nth-last-child(12),
			> li:first-child:nth-last-child(12) ~ li {
			.full();
		}
	}
}