ul.HMenu
{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;

	a { color: black; }

	ul { margin: 0;
	     padding: 0;
	     display: none;
	     z-index: 1000;
	     position: absolute;
	     flex-direction: column;
	     width: calc(100% + 2px); }

	li:hover > ul { display: flex }

	li {  height: 40px;
	      display: flex;
	      flex-basis: 10%;
	      position: relative;
	      align-items: stretch;
	      list-style-type: none;
	      align-content: stretch;
	      justify-content: center; }

	li > a
	{
		flex-grow: 1;
		display: flex;
		padding: 10px;
		font-size: 10px;
		align-items: center;
		justify-content: space-between;
		background-color: @main_tinted;
		border: 1px solid @base;
		> i { order: 1; }
	}

	li a:hover { background-color: @acent_tinted; }

	> li > ul { top: 100%; }
	> li > ul li > ul { left: 100%; }

	li > ul > li  { top: -1px;
			width: 100%;
			flex-basis: 40px; }

	> li:not(:first-of-type) > a { border-left: none; }
	ul > li:not(:first-of-type) > a { border-top: none; }

	> li:empty { flex-grow: 1;
		     border: none;
		     background-color: transparent }

	> li > ul li:empty { flex-basis: 4px;
			     border: 2px solid @base; }
}