div.Login
{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	> div
	{
		padding: 10px;
		flex-basis: 600px;
		background-color: @main;
		box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

		> div:nth-child(1)
			{

			height: 64px;
			display: flex;
			border-radius: 5px;
			align-items: stretch;
			justify-content: space-around;
			background-color: @base_tinted;

			> *:nth-child(1) { width: 48px;
					   margin: 8px;
					   display: flex;
					   align-items: center;
					   justify-content: center; }

			> *:nth-child(2) { display: flex;
					   flex-grow: 1;
					   margin: 8px;
					   font-size: 20px;
					   align-items: center;
					   justify-content: flex-start;
			}

			> *:nth-child(3) { margin: 8px;
					   display: flex;
					   align-items: flex-start;
					   justify-content: flex-end; }
		}

		> div:nth-child(2) > ul > li {
			flex-basis: 50%;
			@media only screen and (min-width: @tablet) { flex-basis: 25% }
		}
	}
}

div.Main { width: 100%;
	   padding: 4px;
	   display: grid;
	   grid-template-rows: 56px 50px 1fr;

	   > div:nth-child(1) { width: 100%;
				padding: 4px;
				display: grid;
				grid-gap: 8px;
				border-radius: 5px 5px 0 0;
				grid-template-rows: 1fr 1fr;
				background-color: @base_tinted;
				grid-template-columns: 48px 1fr 200px;

				> *:nth-child(1) { width: 48px;
						   height: 48px;
						   display: flex;
						   font-size: 48px;
						   align-items: center;
						   grid-row: 1 / span 2;
						   justify-content: center; }

				> *:nth-child(2) { display: flex;
						   font-size: 0px;
						   align-items: center;
						   grid-row: 1 / span 2;
						   justify-content: flex-start;

						   @media only screen and (min-width: @phone) { font-size: 18px; }
						   @media only screen and (min-width: @tablet) { font-size: 22px; }
				}

				> *:nth-child(3) { display: flex;
						   grid-row: 1 / span 1;
						   align-items: flex-start;
						   justify-content: flex-end; }

				> *:nth-child(4) { display: flex;
						   grid-row: 2 / span 1;
						   align-items: flex-end;
						   justify-content: flex-end;  }
	   }

	   > div:nth-child(2) { top: 0;
				z-index: 1;
				width: 100%;
				display: flex;
				position: sticky;
				align-items: center;
				justify-content: center;
				position: -webkit-sticky;
				background-color: @main_shaded2; }

	   > div:nth-child(3) { margin: 0;
				border: none;
				padding: 10px;

				background-color: @main;
				border-radius: 0 0 5px 5px; }
}