div.Message { width:800px;
	      height:280px;
	      display:flex;
	      border-radius:5px;
	      align-items:stretch;
	      background-color: white;
	      border:4px solid @base_shaded;
	      box-shadow:3px 10px 5px 0px rgba(0,0,0,0.75);

	      &.SUCCESS { color: @G; }
	      &.WARNING { color: @Y; }
	      &.ERROR { color: @R; }

	      > label:first-child {  display: flex;
				     color: inherit;
				     font-size: 120px;
				     font-family: gate;
				     flex-basis: 240px;
				     align-items: center;
				     justify-content: center;
				     background: @main_gradient; }

	      > label:last-child  { flex-grow: 1;
				    padding: 8px;
				    display: flex;
				    color: inherit;
				    font-size: 20px;
				    align-items: center;
				    background-color: transparent; }
}


