div.MINIBAR, div.Minibar {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;

	> a { width: 24px;
	      height: 24px;
	      padding: 4px;
	      font-size: 16px;

	      > i { font-size: inherit }

	      &:focus { outline: none; }
	}

	hr { margin: 0;
	     padding: 0;
	     border: none;
	     flex-grow: 1}
}

