g-nav-bar
{
	width: 140px;
	height: 24px;
	display: flex;
	color: inherit;
	cursor: pointer;
	font-size: 12px;
	min-width: 140px;
	max-width: 140px;
	border-radius: 5px;
	align-items: center;
	background-color: transparent;
	justify-content: space-between;
	transition: all .2s ease-in-out;
	&:hover { transform: scale(1.1);}
	border: 1px solid rgba(256,256,256,0.2);


	> a { width: 20px;
	      display: flex;
	      color: inherit;
	      cursor: inherit;
	      font-size: 12px;
	      font-family: 'gate';
	      align-items: center;
	      text-decoration: none;
	      justify-content: center;

	      &[navbar-disabled="true"] { opacity: 0.2;
					  cursor: not-allowed;
					  pointer-events: none; } }

	> label { display: flex;
		  color: inherit;
		  cursor: inherit;
		  font-size: 12px;
		  align-items: center;
		  justify-content: center; }

	@media only screen and (max-width: 640px) { display: none; }
}
