g-nav-bar {
	left: 50%;
	bottom: 8px;
	color: white;
	height: 24px;
	display: flex;
	cursor: pointer;
	font-size: 12px;
	max-width: 140px;
	min-width: 140px;
	margin-left: -70px;
	border-radius: 5px;
	position: absolute;
	align-items: center;
	justify-content: center;
	border: 1px solid @base_shaded;
	background-image: @base_shaded_gradient;
	box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.75);

	> label { display: flex;
		  color: inherit;
		  cursor: inherit;
		  font-size: inherit;
		  align-items: center;
		  justify-content: center;
	}

	> a { width: 20px;
	      display: flex;
	      color: inherit;
	      cursor: inherit;
	      font-size: inherit;
	      font-family: 'gate';
	      align-items: center;
	      text-decoration: none;
	      justify-content: center;

	      &[navbar-disabled="true"] { opacity: 0.2;
					  cursor: not-allowed;
					  pointer-events: none;
	      }
	}
}
