div.PageControl,
div.LinkControl {
	padding: 4px;
	margin-top: 16px;
	margin-bottom: 4px;
	border-radius: 8px 8px 0 0;
	background-color: @main_shaded2;
	&:first-child { margin-top: 4px }

	> ul { border: none;
	       margin: 0px;
	       padding: 0px;
	       display: flex;
	       flex-wrap: wrap;
	       list-style: none;
	       border-radius: 8px 8px 0 0;
	       justify-content: flex-start;

	       > li {  margin: 0px;
		       flex-grow: 1;
		       color: #432F21;
		       min-width: 140px;
		       border-radius: 8px 8px 0 0;
		       border: 1px solid transparent;
		       border-bottom: 0px solid transparent;

		       &:first-child:nth-last-child(1),
			       &:first-child:nth-last-child(1) ~ li,
			       &:first-child:nth-last-child(2),
			       &:first-child:nth-last-child(2) ~ li,
			       &:first-child:nth-last-child(3),
			       &:first-child:nth-last-child(3) ~ li,
			       &:first-child:nth-last-child(4),
			       &:first-child:nth-last-child(4) ~ li,
			       &:first-child:nth-last-child(5),
			       &:first-child:nth-last-child(5) ~ li,
			       &:first-child:nth-last-child(6),
			       &:first-child:nth-last-child(6) ~ li,
			       &:first-child:nth-last-child(7),
			       &:first-child:nth-last-child(7) ~ li
			       {

			       @media only screen and (min-width: @tablet)
				       {
				       max-width: 50%;
			       }

			       @media only screen and (min-width: @notebook)
				       {
				       max-width: 25%;
			       }

			       @media only screen and (min-width: @desktop)
				       {
				       max-width: 12.5%;
			       }

			       @media only screen and (min-width: @widescreen)
				       {

				       max-width: 10%;
			       }
		       }

		       &[data-selected=true] { border-color: @main_shaded1;
					       background-color: @main_shaded1;

					       > a,
					       > button { color: inherit;
							  font-weight: bold;
							  background-color: @main_shaded1; }
		       }

		       > a,
		       > button { width: 100%;
				  border: none;
				  padding: 5px;
				  display: flex;
				  color: inherit;
				  cursor: pointer;
				  font-size: 12px;
				  align-items: center;
				  text-decoration: none;
				  border-radius: 8px 8px 0 0;
				  justify-content: space-between;
				  background-color: @main_tinted;

				  > i,
				  > span {order: 1;
					  color: inherit; }

				  &:hover { color: #CA171B;

					    > i,
					    > span { color: #432F21 }
				  }

				  &:focus { border: none;
					    outline: none }

				  &[data-icon] { text-align: left;
						 &:after { width: 16px;
							   height: 100%;
							   font-family: gate;
							   text-align: center;
							   content: attr(data-icon); }
				  }
		       }
	       }
	}

	> div { clear: both;
		padding: 10px;
		border-color: @main_shaded1;
		background-color: @main_shaded1;
		border-radius: 0px 0px 0px 0px;


		iframe { width: 100%;
			 border: none;
			 overflow:  hidden}
	}
}


div.PageControl {
	> div { display: none }
	> ul > li > div { display: none }
}