div.PageControl,
div.LinkControl {
	padding: 4px;
	margin-top: 16px;
	margin-bottom: 4px;
	border-radius: 8px 8px 0 0;
	background-color: @main_shaded2;
	&:first-child { margin-top: 4px }

	> ul { border: none;
	       margin: 0px;
	       padding: 0px;
	       display: flex;
	       flex-wrap: wrap;
	       list-style: none;
	       border-radius: 8px 8px 0 0;
	       justify-content: flex-start;

	       > li { width: 50%;
		      margin: 0px;
		      border-radius: 8px 8px 0 0;
		      border: 1px solid transparent;
		      border-bottom: 0px solid transparent;

		      &[data-selected=true] { border-color: @main_shaded1;
					      background-color: @main_shaded1;

					      > a,
					      > button { color: black;
							 color: #432F21;
							 font-weight: bold;
							 background-color: @main_shaded1; }
		      }

		      > a,
		      > button { width: 100%;
				 border: none;
				 padding: 5px;
				 display: flex;
				 color: #432F21;
				 cursor: pointer;
				 font-size: 12px;
				 align-items: center;
				 text-decoration: none;
				 border-radius: 8px 8px 0 0;
				 justify-content: space-between;
				 background-color: @main_tinted;

				 > i,
				 > span {order: 1;
					 color: #432F21;  }

				 &:hover { color: #CA171B;

					   > i,
					   > span { color: #432F21 }
				 }

				 &:focus { border: none;
					   outline: none }

				 &[data-icon] { text-align: left;
						&:after { width: 16px;
							  height: 100%;
							  font-family: gate;
							  text-align: center;
							  content: attr(data-icon); }
				 }
		      }

		      @media only screen and (min-width: @tablet)
			      {

			      width: 25%;

			      &:first-child:nth-last-child(5),
				      &:first-child:nth-last-child(5) ~ li,
				      &:first-child:nth-last-child(10),
				      &:first-child:nth-last-child(10) ~ li,
				      &:first-child:nth-last-child(15),
				      &:first-child:nth-last-child(15) ~ li,
				      &:first-child:nth-last-child(20),
				      &:first-child:nth-last-child(20) ~ li,
				      &:first-child:nth-last-child(25),
				      &:first-child:nth-last-child(25) ~ li,
				      &:first-child:nth-last-child(30),
				      &:first-child:nth-last-child(30) ~ li,
				      &:first-child:nth-last-child(35),
				      &:first-child:nth-last-child(35) ~ li,
				      &:first-child:nth-last-child(40),
				      &:first-child:nth-last-child(40) ~ li,
				      &:first-child:nth-last-child(45),
				      &:first-child:nth-last-child(45) ~ li,
				      &:first-child:nth-last-child(50),
				      &:first-child:nth-last-child(50) ~ li,
				      &:first-child:nth-last-child(55),
				      &:first-child:nth-last-child(55) ~ li,
				      &:first-child:nth-last-child(60),
				      &:first-child:nth-last-child(60) ~ li,
				      &:first-child:nth-last-child(65),
				      &:first-child:nth-last-child(65) ~ li,
				      &:first-child:nth-last-child(70),
				      &:first-child:nth-last-child(70) ~ li,
				      &:first-child:nth-last-child(75),
				      &:first-child:nth-last-child(75) ~ li,
				      &:first-child:nth-last-child(80),
				      &:first-child:nth-last-child(80) ~ li,
				      &:first-child:nth-last-child(85),
				      &:first-child:nth-last-child(85) ~ li,
				      &:first-child:nth-last-child(90),
				      &:first-child:nth-last-child(90) ~ li,
				      &:first-child:nth-last-child(95),
				      &:first-child:nth-last-child(95) ~ li,
				      &:first-child:nth-last-child(100),
				      &:first-child:nth-last-child(100) ~ li

				      { width: 20%; }
		      }

		      @media only screen and (min-width: @widescreen)
			      {

			      width: 12.5%;

			      &:first-child:nth-last-child(5),
				      &:first-child:nth-last-child(5) ~ li ,
				      &:first-child:nth-last-child(10),
				      &:first-child:nth-last-child(10) ~ li,
				      &:first-child:nth-last-child(20),
				      &:first-child:nth-last-child(20) ~ li,
				      &:first-child:nth-last-child(30),
				      &:first-child:nth-last-child(30) ~ li,
				      &:first-child:nth-last-child(40),
				      &:first-child:nth-last-child(40) ~ li,
				      &:first-child:nth-last-child(50),
				      &:first-child:nth-last-child(50) ~ li,
				      &:first-child:nth-last-child(60),
				      &:first-child:nth-last-child(60) ~ li,
				      &:first-child:nth-last-child(70),
				      &:first-child:nth-last-child(70) ~ li,
				      &:first-child:nth-last-child(80),
				      &:first-child:nth-last-child(80) ~ li,
				      &:first-child:nth-last-child(90),
				      &:first-child:nth-last-child(90) ~ li,
				      &:first-child:nth-last-child(100),
				      &:first-child:nth-last-child(100) ~ li { width: 10%; }
		      }
	       }
	}

	> div { clear: both;
		padding: 10px;
		border-color: @main_shaded1;
		background-color: @main_shaded1;
		border-radius: 0px 0px 0px 0px;


		iframe { width: 100%;
			 border: none;
			 overflow:  hidden}
	}
}


div.PageControl {
	> div { display: none }
	> ul > li > div { display: none }
}