div.Picker
{
	display: flex;
	border-radius: 5px;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
	background-color: @main;
	background-image: @noise;
	border: 4px solid @comp_shaded35;
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

	> div:nth-child(1) {  display: flex;
			      color: #FFFFFF;
			      font-size: 16px;
			      flex-basis: 40px;
			      font-weight: bold;
			      align-items: center;
			      justify-content: center;
			      background-color: @comp_shaded35 }

	> div:nth-child(2) { flex-grow: 1;
			     display: flex;
			     align-items: stretch;
			     align-content: stretch;
			     justify-content: center;
			     background-color: @main;
			     background-image: @noise;}

	> div:nth-child(3)  {  display: flex;
			       color: #FFFFFF;
			       font-size: 16px;
			       flex-basis: 40px;
			       font-weight: bold;
			       align-items: center;
			       justify-content: center;
			       background-color: @main}

	> div:nth-child(3) > a { height: 100%;
				 flex-grow: 1;
				 display: flex;
				 flex-basis: 50%;
				 align-items: center;
				 justify-content: center;
				 border: 2px solid #CCCCCC;
				 background-image: linear-gradient(to bottom, #D6D3C4 0%, #8A887E 100%); }

	> div:nth-child(3) > a:first-child { color: #660000 }
	> div:nth-child(3) > a:last-child { color: #006600 }

	> div:nth-child(3) > a:hover { font-weight: bold;
				       border-color: #F0E68C;
				       background-image:  linear-gradient(to bottom, #E3E0D0 0%, #858279 100%); }
}