*[popup] {display: none}

div.Popup
{
	display: flex;
	position: fixed;
	border-radius: 5px;
	flex-direction: column;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	border: 4px solid @base_shaded;
	box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);

	> div:first-child
		{
		height: 40px;
		padding: 8px;
		color: white;
		outline: none;
		display: flex;
		font-size: 18px;
		align-items: center;
		justify-content: space-between;
		background-color: @base_shaded;

		> label { flex-grow: 1;
			  display: flex;
			  color: inherit;
			  font-size: inherit;
			  align-items: center;
			  justify-content: flex-start; }

		> a { width: 48px;
		      display: flex;
		      color: inherit;
		      cursor: pointer;
		      font-family: gate;
		      font-size: inherit;
		      align-items: center;
		      justify-content: center;}
	}


	> div:last-child { padding: 10px;
			   height: calc(100% - 40px);
			   background-color: #CDCAB9;

			   > * { margin: 0px;
				 width: 100%;
				 height: 100%;
				 padding: 0px;
				 border: none;
				 overflow: auto; }
	}
}