g-tabbar
{
	height: 48px;
	flex-grow: 1;
	padding: 4px;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: flex-start;
	color: var(--g-tabbar-color);
	background-image:  linear-gradient(to bottom,
		var(--g-tabbar-background-color1) 0%,
		var(--g-tabbar-background-color2) 50%,
		var(--g-tabbar-background-color1) 100% );

	> a,
	> button,
	> g-command,
	> .g-command
	{
		height: 40px;
		flex-grow: 1;
		display: flex;
		color: inherit;
		flex-shrink: 1;
		min-width: 80px;
		max-width: 120px;
		border-radius: 5px;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
		border: 1px solid transparent;

		&:focus { outline: none }

		&[aria-selected] {
			color: var(--g-tabbar-selected-color);
			background-image:  linear-gradient(to bottom,
				var(--g-tabbar-selected-background-color1) 0%,
				var(--g-tabbar-selected-background-color2) 50%,
				var(--g-tabbar-selected-background-color1) 100% );
			border: 1px solid var(--g-tabbar-selected-background-color1);
		}

		> i { order: -1;
		      font-size: 16px;}
	}
}



