g-tabbar
{
	border: none;
	height: 50px;
	flex-grow: 1;
	display: flex;
	overflow: hidden;
	align-items: stretch;
	justify-content: flex-start;
	color: var(--g-tabbar-color);
	background-color:  var(--g-tabbar-background-color);
	background-image:  var(--g-tabbar-background-image);

	> a,
	> button,
	> g-command,
	> .g-command
	{
		margin: 4px;
		flex-grow: 1;
		display: flex;
		color: inherit;
		flex-shrink: 1;
		min-width: 80px;
		max-width: 120px;
		border-radius: 5px;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;

		&:focus { outline: none }

		&:hover {
			color: var(--g-tabbar-hovered-color);
			background-color:  var(--g-tabbar-hovered-background-color);
			background-image:  var(--g-tabbar-hovered-background-image);
		}


		&[aria-selected] {
			color: var(--g-tabbar-selected-color);
			background-color:  var(--g-tabbar-selected-background-color);
			background-image:  var(--g-tabbar-selected-background-image);
		}

		> i { order: -1;
		      font-size: 16px;}
	}
}



