<g-callout class="fill">
	<h1>&lt;g-tab-control&gt;</h1>
	<p>
		Within the <strong>&lt;g-tab-control&gt;</strong> custom web component, anchors (<strong>&lt;a&gt;</strong>) and buttons
		(<strong>&lt;button&gt;</strong>) exhibit distinct behaviors based on the presence and content of subsequent <strong>&lt;div&gt;</strong>
		elements. When an anchor or button is accompanied by a non-empty <strong>&lt;div&gt;</strong>, it functions as an inline tab.
		Activation of these tabs reveals the associated <strong>&lt;div&gt;</strong> content, providing an integrated presentation of
		inline content within the tab structure.
	</p>
	<p>
		On the other hand, if an anchor or button is followed by an empty <strong>&lt;div&gt;</strong> or lacks a subsequent <strong>&lt;div&gt;</strong>,
		the <strong>&lt;g-tab-control&gt;</strong> dynamically fetches data based on the attributes specified. For both anchors and buttons, the
		<strong>data-type</strong> attribute plays a crucial role. When set to <strong>frame</strong>, the content is loaded into an <strong>&lt;iframe&gt;</strong>,
		while <strong>fetch</strong> triggers a direct insertion into the <strong>&lt;div&gt;</strong>. If the <strong>data-type</strong> attribute is unspecified, it
		defaults to the <strong>type</strong> attribute of the <strong>&lt;g-tab-control&gt;</strong>, which, in turn, defaults to <strong>fetch</strong>.
		This design ensures that anchors and buttons without non-empty <strong>&lt;div&gt;</strong> elements efficiently fetch and display data,
		enhancing the component's versatility for organizing and presenting content within a tabbed interface.
	</p>
</g-callout>
<g-tab-control>
	<a href="#">Default<g-icon>&#X3055;</g-icon></a>
	<div>
		<g-callout>
			<p>
				The <strong>&lt;g-tab-control&gt;</strong> component in this example creates a tabbed interface with three tabs.
				The <strong>Inline</strong> tab displays an inline message when clicked. The <strong>Fetch</strong> tab fetches a
				<a href="/component/g-tab-control/fetch.html" target='_blank'>HTML fragment</a>, and the <strong>Frame</strong> tab
				fetches an <a href="/component/g-tab-control/frame.html" target='_blank'>entire document</a>
				and displays it in an iframe. Icons within the tabs enhance visual appeal. Overall, this example demonstrates
				the component's versatility for presenting inline content and dynamically fetching data in a tabbed UI with three tabs.
			</p>
		</g-callout>

		<g-code-viewer>
			<g-tab-control>
				<a href='#'>
					Inline<g-icon>&#X2123;</g-icon>
				</a>
				<div>
					<g-message class='icon success'>
						This is a inline message
					</g-message>
				</div>
				<a data-type='fetch' href='/component/g-tab-control/fetch.html'>
					Fetch<g-icon>&#X2035;</g-icon>
				</a>
				<a data-type='frame' href='/component/g-tab-control/frame.html'>
					Frame<g-icon>&#X2035;</g-icon>
				</a>
			</g-tab-control>
		</g-code-viewer>
	</div>

	<a href="#">Vertical <g-icon>&#X2265;</g-icon></a>
	<div>
		<g-callout>
			<p>
				The <strong>&lt;g-tab-control&gt;</strong> component includes a <strong>layout</strong> attribute,
				which, when set to <strong>vertical</strong>, transforms the default horizontal tab layout into a vertical menu. This
				attribute alters the visual presentation of the tabs, allowing them to be displayed in a vertical arrangement.
				By adding the <strong>vertical</strong> attribute to the <strong>&lt;g-tab-control&gt;</strong> element, developers
				can customize the orientation of the tab menu, providing flexibility in the overall design and layout of
				the component.
			</p>
		</g-callout>

		<g-code-viewer>
			<g-tab-control layout='vertical'>
				<a href='#'>
					Inline<g-icon>&#X2123;</g-icon>
				</a>
				<div>
					<g-message class='icon success'>
						This is a inline message
					</g-message>
				</div>
				<a data-type='fetch' href='/component/g-tab-control/fetch.html'>
					Fetch<g-icon>&#X2035;</g-icon>
				</a>
				<a data-type='frame' href='/component/g-tab-control/frame.html'>
					Frame<g-icon>&#X2035;</g-icon>
				</a>
			</g-tab-control>
		</g-code-viewer>
	</div>
</g-tab-control>