ul[data-treeview] {
  list-style-type: none;
}
ul[data-treeview] ul {
  display: none;
  list-style-type: none;
}
ul[data-treeview] li::before {
  content: '+';
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
}
ul[data-treeview] li[data-expanded]::before {
  content: '-';
}
ul[data-treeview] li[data-empty]::before {
  content: '\00a0';
}
ul[data-treeview] li[data-expanded] > ul {
  display: block;
}
