@font-face {
  font-family: 'gate';
  src: local(gate), url('imge/font/gate.eot?-uajdou&version=1_3_1');
  src: local(gate), url('imge/font/gate.eot?#iefix-uajdou&version=1_3_1') format('embedded-opentype'), url('imge/font/gate.woff?-uajdou&version=1_3_1') format('woff'), url('imge/font/gate.ttf?-uajdou&version=1_3_1') format('truetype'), url('imge/font/gate.svg?-uajdou#icomoon&version=1_3_1') format('svg');
  font-weight: normal;
  font-style: normal;
}
div.main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
div.main > div:nth-child(1) {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-basis: 50px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0 0;
  justify-content: space-between;
}
div.main > div:nth-child(2) {
  width: 100%;
  padding: 4px;
  display: flex;
  flex-basis: 50px;
  align-items: center;
  justify-content: center;
  background-color: #b9b6a7;
}
div.main > div:nth-child(3) {
  border: none;
  padding: 10px;
  overflow: auto;
  background-color: #CDCAB9;
  border-radius: 0 0 5px 5px;
  max-height: calc(100vh - 122px);
}
i {
  font-family: 'gate';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-family: Arial, Tahoma, Geneva, sans-serif;
  font-size: 12px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body {
  margin: 0px;
  padding: 8px;
  text-align: center;
}
body.Page {
  padding: 0px;
  background-color: #c3c0b0;
}
a {
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
}
a:link {
  color: #000044;
}
a:visited {
  color: #000044;
}
a:hover {
  color: #CA171B;
}
a:active {
  color: #AA0000;
}
a:focus img {
  box-shadow: 0px 0px 1px 1px #990000;
}
tr.RChart,
td.RChart,
tr.DChart,
td.DChart,
tr.PChart,
td.PChart,
tr.AChart,
td.AChart,
tr.LChart,
td.LChart,
tr.BChart,
td.BChart,
tr.CChart,
td.CChart {
  cursor: pointer;
}
td.RChart:hover,
td.DChart:hover,
td.PChart:hover,
td.AChart:hover,
td.LChart:hover,
td.BChart:hover,
td.CChart:hover {
  color: #000066;
  font-weight: bold;
}
table {
  width: 100%;
  border: none 0px transparent;
  background-color: #DDDDDF;
}
td {
  height: 28px;
  vertical-align: middle;
  text-align: left;
  word-break: normal;
}
table > tbody > tr:nth-child(even) > td {
  background-image: none;
  background-color: #FFFFFF;
}
table > tbody > tr:nth-child(odd) > td {
  background-image: none;
  background-color: #FDFAE9;
}
table > thead > tr > td,
table > tfoot > tr > td {
  background-image: linear-gradient(to bottom, #e4e2d9 0%, #a4a294 100%);
}
table > tbody > tr.even > td {
  background-image: none;
  background-color: #FFFFFF;
}
table > tbody > tr.odd > td {
  background-image: none;
  background-color: #FDFAE9;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: #000066;
  font-weight: normal;
  text-decoration: none;
  font-size: 12px;
}
th {
  height: 28px;
  vertical-align: middle;
  text-align: left;
  background-color: #a4a294;
  color: #000000;
}
td.TOOLTIP {
  padding: 12px;
  background-image: none;
  background-color: #F0F0F4;
  color: blue;
  border: 1px dashed gray;
}
td.SEPARATOR {
  padding: 0px;
  margin: 0px;
  background-image: none;
  background-color: #CBCAC9;
  color: blue;
  border: 1px dotted gray;
  height: 0px;
}
caption {
  height: 32px;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  border-radius: 5px 5px 0px 0px;
  margin-bottom: 2px;
  background-color: #858378;
  color: #FFFFFF;
}
div.TEXT {
  margin: 0;
  width: 100%;
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: justify;
  padding: 12px;
}
div.FORMAT {
  width: 100%;
  padding: 8px;
  margin-bottom: 4px;
  background-color: #F0F0F4;
  border-radius: 5px;
  text-align: center;
}
div.EDITOR {
  width: 100%;
  height: 250px;
  padding: 8px;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: auto;
}
a.ORDER_NONE {
  color: #000000;
  width: 100%;
  height: 100%;
}
a.ORDER_ASCE {
  color: #000099;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
a.ORDER_DESC {
  color: #990000;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
span.PAGINATOR a {
  color: black;
  font-weight: bold;
}
a.ORDENATOR {
  color: #000000;
  font-weight: bold;
}
p {
  text-align: justify;
}
h5 {
  font-size: 14px;
  text-align: center;
}
h4 {
  font-size: 16px;
  text-align: center;
}
h3 {
  font-size: 18px;
  text-align: center;
}
h2 {
  font-size: 20px;
  text-align: center;
}
h1 {
  font-size: 22px;
  text-align: center;
}
img {
  border-style: none;
  position: relative;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 2px;
}
ul.MENU li,
UL.NAVI li {
  float: left;
  width: 100%;
  height: 36px;
  display: flex;
  color: #432F21;
  position: relative;
  font-weight: normal;
  align-items: center;
  list-style: none outside none;
  justify-content: space-between;
}
td > label,
th > label {
  width: 100%;
  display: inline-block;
}
td > label > i,
td > label > span,
th > label > i,
th > label > span {
  position: absolute;
  right: 2px;
  color: gray;
  font-size: 10px;
}
table.TREEVIEW > tbody > tr {
  display: none;
}
table.TREEVIEW > tbody > tr > td:first-child {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
tr[data-action],
tr[data-value],
tr[data-ret],
td[data-ret],
tr[data-action] > td,
tr[data-value] > td,
tr[data-ret] > td {
  cursor: pointer;
}
tr[data-action]:focus,
tr[data-value]:hover,
tr[data-ret]:hover,
td[data-ret]:hover,
tr[data-action]:focus > td,
tr[data-value]:hover > td,
tr[data-ret]:hover > td td[data-ret]:hover,
div.DESKTOP > fieldset:focus {
  background-image: none;
  background-color: #F0E68C;
  color: #000000;
}
ul.DESKTOP ul {
  display: none;
}
ul.DESKTOP {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 0px;
  justify-content: flex-start;
  float: left;
}
ul.DESKTOP > li {
  visibility: hidden;
  cursor: pointer;
  width: 24%;
  margin: 8px 0.5% 8px 0.5%;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);
  background-image: -ms-linear-gradient(top, #FDFAE9, #B3B0A4);
  background-image: -moz-linear-gradient(top, #FDFAE9, #B3B0A4);
  background-image: -o-linear-gradient(top, #FDFAE9, #B3B0A4);
  background-image: -webkit-linear-gradient(top, #FDFAE9, #B3B0A4);
}
ul.DESKTOP > li:hover {
  border-color: #FFFACD;
  background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD);
  background-image: -ms-linear-gradient(top, #EDE9D9, #BDBAAD);
  background-image: -moz-linear-gradient(top, #EDE9D9, #BDBAAD);
  background-image: -o-linear-gradient(top, #EDE9D9, #BDBAAD);
  background-image: -webkit-linear-gradient(top, #EDE9D9, #BDBAAD);
}
ul.DESKTOP > li > * {
  float: left;
  height: 48px;
  cursor: pointer;
}
ul.DESKTOP > li > label {
  padding-left: 8px;
  line-height: 48px;
  color: inherit;
  font-weight: inherit;
}
ul.DESKTOP > li > img {
  width: 48px;
  margin: 0px;
  background-color: white;
}
ul.DESKTOP > li > i,
ul.DESKTOP > li > span {
  width: 48px;
  font-size: 40px;
  padding: 4px;
  text-align: center;
  color: inherit;
}
ul.LIST {
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 0px;
  display: inline-block;
}
ul.LIST > li {
  float: left;
  width: 10%;
  height: 32px;
  background-color: #FFFFFF;
  padding: 3px;
  margin: 0.5%;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.LIST > li > i {
  font-size: 24px;
}
ul.LIST > li:focus {
  background-color: #FFFACD;
  font-weight: bold;
  color: #006600;
}
table,
fieldset,
div.TEXT,
div.TOOLTIP,
*.TOOLBAR,
*.COOLBAR,
div.PageControl,
div.LinkControl {
  margin-top: 16px;
  margin-bottom: 4px;
}
table:first-child,
fieldset:first-child,
div.TEXT:first-child,
div.TOOLTIP:first-child,
*.TOOLBAR:first-child,
*.COOLBAR:first-child,
div.PageControl:first-child,
div.LinkControl:first-child {
  margin-top: 0px;
}
input[type='text'],
input[type='password'],
input[type='file'],
textarea,
select {
  width: 100%;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}
input[type='text'],
input[type='password'],
select {
  height: 24px;
  line-height: 22px;
}
input[type='text']:focus,
input[type='password']:focus,
input[type='file']:focus,
textarea:focus,
select:focus {
  background-color: #FFFACD;
}
input[type='file'] {
  width: 100%;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  height: 100%;
  cursor: pointer;
}
input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid #FF8888;
}
textarea {
  resize: none;
  padding: 4px;
  margin: 0px;
  height: 100%;
}
dl {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 4px;
}
dt {
  margin: 0;
  width: 50%;
  text-align: left;
  padding: 4px;
}
dd {
  margin: 0;
  width: 50%;
  text-align: right;
  font-weight: bold;
  padding: 4px;
}
input.Date,
input.Time,
input.DateTime,
input.DateInterval,
input.TimeInterval,
input.DateTimeInterval {
  width: calc("100% - 32px");
}
a.Date,
a.Time,
a.DateTime,
a.DateInterval,
a.TimeInterval,
a.DateTimeInterval {
  width: 32px;
}
col.P980,
td.P980,
th.P980 {
  display: none;
}
@media (min-width: 980px) {
  col.P980 {
    display: table-column;
  }
  td.P980,
  th.P980 {
    display: table-cell;
  }
}
col.P1280,
td.P1280,
th.P1280 {
  display: none;
}
@media (min-width: 1280px) {
  col.P1280 {
    display: table-column;
  }
  td.P1280,
  th.P1280 {
    display: table-cell;
  }
}
col.P1366,
td.P1366,
th.P1366 {
  display: none;
}
@media (min-width: 1366px) {
  col.P1366 {
    display: table-column;
  }
  td.P1366,
  th.P1366 {
    display: table-cell;
  }
}
div.Panel {
  padding: 10px;
  border-radius: 5px;
  background-color: #CDCAB9;
  border: 1px solid #ADAA99;
}
label[data-icon],
span[data-icon] {
  margin: 4px;
  height: 32px;
  cursor: inherit;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  width: calc(100% - 8px);
  background-color: #8899AA;
}
fieldset > label > span > label[data-icon] {
  margin: 0;
  width: 100%;
  height: 100%;
}
label[data-icon]::before,
span[data-icon]::before {
  width: 32px;
  height: 100%;
  color: inherit;
  margin-right: 8px;
  font-family: gate;
  font-size: inherit;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  content: attr(data-icon);
  border-right: 1px solid #DDDDDD;
}
i[data-text],
a[data-text] {
  display: flex;
  font-family: gate;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
i[data-text]::after,
a[data-text]::after {
  display: block;
  font-size: 40%;
  font-family: gate;
  text-align: center;
  content: attr(data-text);
}
li[data-icon]::before {
  float: left;
  display: flex;
  margin-right: 8px;
  font-family: gate;
  align-items: center;
  justify-content: center;
  content: attr(data-icon);
}
li[data-text]::after {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  content: attr(data-text);
}
tr[data-canceled='true'] > td {
  color: #CCCCCC;
}
th[data-sortable] > a::before {
  font-size: 16px;
}
th[data-sortable="N"] > a::before {
  content: " ";
}
th[data-sortable="U"] > a::before {
  content: "\2191";
}
th[data-sortable="D"] > a::before {
  content: "\2193";
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
PageControl and LinkControl
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
div.PageControl {
  border: none;
  margin: 10px 0 10px 0;
  background-color: transparent;
}
div.PageControl > div {
  display: none;
}
div.PageControl > ul > li > div {
  display: none;
}
div.PageControl > div > iframe,
div.LinkControl > div > iframe {
  width: 100%;
  border: none;
}
div.PageControl > ul,
div.LinkControl > ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
div.PageControl > div,
div.LinkControl > div {
  clear: both;
  padding: 10px;
  border-color: #c3c0b0;
  background-color: #c3c0b0;
  border-radius: 0px 0px 0px 0px;
}
div.PageControl > ul > li,
div.LinkControl > ul > li {
  width: 20%;
  margin: 0px;
  float: left;
  border-bottom: none;
  border: 1px solid #DDDAC9;
  border-radius: 8px 8px 0px 0px;
}
div.PageControl > ul > li[data-selected=true],
div.LinkControl > ul > li[data-selected=true] {
  border-color: #c3c0b0;
  background-color: #c3c0b0;
}
div.PageControl > ul > li > a,
div.PageControl > ul > li > button,
div.LinkControl > ul > li > a,
div.LinkControl > ul > li > button {
  width: 100%;
  border: none;
  padding: 5px;
  color: #432F21;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  background-color: #FDFAE9;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.PageControl > ul > li > a:hover,
div.LinkControl > ul > li > a:hover,
div.PageControl > ul > li > button:hover,
div.LinkControl > ul > li > button:hover {
  color: #CA171B;
}
div.PageControl > ul > li > a:focus,
div.LinkControl > ul > li > a:focus,
div.PageControl > ul > li > button:focus,
div.LinkControl > ul > li > button:focus {
  border: none;
  outline: none;
}
div.PageControl > ul > li[data-selected=true] > a,
div.LinkControl > ul > li[data-selected=true] > a,
div.PageControl > ul > li[data-selected=true] > button,
div.LinkControl > ul > li[data-selected=true] > button {
  color: black;
  color: #432F21;
  font-weight: bold;
  background-color: #c3c0b0;
}
div.PageControl > ul > li > a > i,
div.LinkControl > ul > li > a > i,
div.PageControl > ul > li > a > span,
div.LinkControl > ul > li > a > span,
div.PageControl > ul > li > button > i,
div.LinkControl > ul > li > button > i,
div.PageControl > ul > li > button > span,
div.LinkControl > ul > li > button > span {
  color: #432F21;
  order: 1;
}
div.PageControl > ul > li > a:hover > i,
div.LinkControl > ul > li > a:hover > i,
div.PageControl > ul > li > a:hover > span,
div.LinkControl > ul > li > a:hover > span,
div.PageControl > ul > li > button:hover > i,
div.LinkControl > ul > li > button:hover > i,
div.PageControl > ul > li > button:hover > span,
div.LinkControl > ul > li > button:hover > span {
  color: #432F21;
}
div.LinkControl > ul > li > a[data-icon],
div.LinkControl > ul > li > button[data-icon] {
  text-align: left;
}
div.LinkControl > ul > li > a[data-icon]:after,
div.LinkControl > ul > li > button[data-icon]:after {
  width: 16px;
  height: 100%;
  font-family: gate;
  text-align: center;
  content: attr(data-icon);
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Dialogs
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
div.Modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}
div.Modal > table {
  width: 600px;
  height: 300px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 300px);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
div.Dialog {
  display: flex;
  position: fixed;
  border-radius: 5px;
  flex-direction: column;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  border: 4px solid #787a85;
  box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
div.Dialog > div:first-child {
  height: 40px;
  padding: 8px;
  outline: none;
  color: #CCCCCC;
  background-color: #787a85;
}
div.Dialog > div:first-child * {
  height: 100%;
  color: #CCCCCC;
  font-size: 26px;
  line-height: 20px;
  display: inline-block;
}
div.Dialog > div:first-child a {
  width: 48px;
  cursor: pointer;
  font-family: gate;
  text-align: center;
}
div.Dialog > div:first-child:focus * {
  color: #FFFFFF;
}
div.Dialog > div:last-child {
  height: calc(100% - 40px);
  background-color: #CDCAB9;
}
div.Dialog > div:last-child > iframe,
div.Dialog > div:last-child > div,
div.Dialog > div:last-child > dialog {
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  border: none;
  overflow: auto;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Fieldset
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
fieldset,
fieldset > legend,
fieldset > label > span {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
fieldset {
  border: none;
  margin: auto;
  padding: 12px;
  margin-top: 20px;
  background-color: #b9b6a7;
}
fieldset fieldset {
  float: left;
  padding: 4px;
  display: inline;
  text-align: left;
  margin-top: 10px;
  background-color: #c3c0b0;
}
fieldset > div {
  margin: 5px;
  padding: 4px;
  border-radius: 5px;
  width: calc(100% - 10px);
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
}
fieldset > legend {
  padding: 2px;
  color: #432F21;
  text-align: left;
  font-weight: bold;
  background-color: #DFDED4;
}
fieldset > legend > i {
  float: left;
  margin-right: 4px;
}
fieldset fieldset > legend {
  background-color: #BDBCB2;
}
fieldset > label {
  float: left;
  padding: 4px;
  display: flex;
  text-align: left;
  flex-direction: column;
}
fieldset > label > span {
  margin: 0px;
  width: 100%;
  padding: 0px;
  height: 24px;
  display: flex;
  color: #000000;
  overflow: hidden;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  align-items: stretch;
  text-overflow: ellipsis;
  background-color: #E6E6E3;
  justify-content: flex-start;
  border: 0px none transparent;
}
fieldset > label > span > * {
  margin: 0px;
  padding: 0px;
  color: #080c1b;
  line-height: 22px;
  display: inline-block;
  border: 1px solid #CCCCCC;
}
fieldset > label > span > textarea {
  line-height: 16px;
}
fieldset > label > span > *:first-child,
fieldset > label > span > *:first-child > * {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
fieldset > label > span > *:last-child,
fieldset > label > span > *:last-child > * {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}
fieldset > label > span > a {
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
fieldset > label > span > a:hover {
  color: #CA171B;
  background-color: #EEEEEE;
}
fieldset label > span > a:focus {
  background-color: #FFFACD;
}
fieldset > label > span > i,
fieldset > label > span > span {
  right: 0px;
  width: 20px;
  color: #666666;
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  border: 0px none transparent;
}
fieldset > label > span > a > i,
fieldset > label > span > a > span {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCCCCC;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
COOLBAR
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
*.COOLBAR {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 2px 0px 2px 0px;
  background-image: linear-gradient(to bottom, #e4e2d9 0%, #a4a294 100%);
}
*.COOLBAR a,
*.COOLBAR button {
  margin: 2px;
  height: 32px;
  display: block;
  color: #000000;
  min-width: 90px;
  font-size: 10px;
  padding: 0px 4px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  background-image: linear-gradient(to bottom, #D6D3C4 0%, #8A887E 100%);
}
*.COOLBAR a:hover,
*.COOLBAR button:hover {
  text-decoration: underline;
  background-image: linear-gradient(to bottom, #E3E0D0 0%, #858279 100%);
}
*.COOLBAR > a:focus,
*.COOLBAR > button:focus {
  outline: none;
  border: 2px solid #FFFACD;
}
*.COOLBAR > a,
*.COOLBAR > button {
  float: right;
}
*.TOOLBAR > a,
*.COOLBAR > a,
*.TOOLBAR > button,
*.COOLBAR > button {
  text-align: left;
}
*.COOLBAR > a:hover > i,
*.COOLBAR > a:hover > span,
*.COOLBAR > button:hover > i,
*.COOLBAR > button:hover > span {
  color: inherit;
}
*.COOLBAR > a > i,
*.COOLBAR > a > span,
*.COOLBAR > button > i,
*.COOLBAR > button > span {
  float: right;
  font-size: 12px;
  margin-left: 4px;
  line-height: 28px;
}
*.COOLBAR > button {
  cursor: pointer;
}
*.COOLBAR > label {
  float: left;
  padding: 7px;
  font-size: 16px;
}
*.COOLBAR > hr {
  width: 12px;
  margin: 2px;
  height: 32px;
  float: right;
  display: inline-block;
  border: 0px none transparent;
  background-color: transparent;
}
*.COOLBAR > progress {
  margin: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
}
*.COOLBAR a.Commit,
*.COOLBAR button.Commit {
  color: #006600;
}
*.COOLBAR a.Cancel,
*.COOLBAR button.Cancel {
  float: left;
  color: #660000;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
MINIBAR
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
div.MINIBAR {
  overflow: auto;
}
div.MINIBAR > a,
div.MINIBAR > button {
  float: right;
}
div.MINIBAR > a > i {
  font-size: 16px;
}
div.MINIBAR > a:focus {
  outline: none;
}
div.MINIBAR > a {
  width: 24px;
  height: 24px;
  padding: 4px;
  font-size: 16px;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////
Dialog polyfill
////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
dialog {
  position: absolute;
  left: 0;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: block;
}
dialog:not([open]) {
  display: none;
}
dialog + .backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
}
._dialog_overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
dialog.fixed {
  top: 50%;
  position: fixed;
  transform: translate(0, -50%);
}
dialog {
  padding: 0;
  border: 4px solid #767d90;
  background-color: #CDCAB9;
}
ul.HMenu {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
}
ul.HMenu li {
  height: 40px;
  display: flex;
  flex-basis: 10%;
  position: relative;
  align-items: stretch;
  list-style-type: none;
  align-content: stretch;
  justify-content: center;
}
ul.HMenu li > a {
  flex-grow: 1;
  display: flex;
  padding: 10px;
  font-size: 10px;
  align-items: center;
  background-color: #FDFAE9;
  border: 1px solid #ECE9D8;
  justify-content: space-between;
}
ul.HMenu li a:hover {
  background-image: linear-gradient(to bottom, #FDFAE9 0%, #B3B0A4 100%);
}
ul.HMenu li a i {
  order: 1;
}
ul.HMenu li ul {
  margin: 0;
  padding: 0;
  display: none;
  z-index: 1000;
  position: absolute;
  flex-direction: column;
  width: calc(100% + 2px);
}
ul.HMenu > li > ul {
  top: 39px;
}
ul.HMenu li > ul > li {
  width: 100%;
}
ul.HMenu li:hover > ul {
  display: flex;
}
ul.HMenu > li > ul li > ul {
  top: -1px;
  left: 100%;
}
ul.HMenu > li:empty {
  flex-grow: 1;
  border: none;
  background-color: transparent;
}
ul.HMenu > li > ul li:empty {
  flex-basis: 4px;
  border: 2px solid #CDCAB9;
}
ul.HMenu > li > nav {
  width: auto;
  border: none;
  display: flex;
  margin: 0 2px 0 2px;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  background-color: transparent;
}
ul.HMenu > li > nav > a {
  width: 40px;
  display: flex;
  align-items: center;
  background-color: #FDFAE9;
  justify-content: center;
}
ul.HMenu > li > nav > a:first-child {
  border-radius: 5px 0 0 5px;
}
ul.HMenu > li > nav > a:last-child {
  border-radius: 0 5px 5px 0;
}
ul.HMenu > li > nav > a > i {
  font-size: 16px;
}
ul.HMenu > li > nav > a:hover > i {
  font-size: 18px;
}
ul.DeskMenu,
ul.DeskMenu ul {
  margin: 0;
  padding: 0;
}
ul.DeskMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
ul.DeskMenu > li {
  width: 9%;
  margin: 0.5%;
  border-radius: 5px;
  list-style-type: none;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
}
ul.DeskMenu > li:hover {
  border: 1px solid #F0E68C;
}
ul.DeskMenu > li > a,
ul.DeskMenu > li > button {
  padding: 8px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
ul.DeskMenu > li > a::before,
ul.DeskMenu > li > button::before {
  padding: 8px;
  font-size: 32px;
  font-family: gate;
}
ul.DeskMenu > li > a[data-icon]::before,
ul.DeskMenu > li > button[data-icon]::before {
  content: attr(data-icon);
}
ul.DeskMenu > li > * {
  width: 100%;
}
ul.DeskMenu > li > *:first-child {
  border-radius: 5px 0 0 5px;
}
ul.DeskMenu > li > *:last-child {
  border-radius: 0 0 5px 5px;
}
ul.DeskMenu ul {
  display: none;
}
ul.DeskMenu > li.Reset > a {
  font-size: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%);
}
ul.DeskPane {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
ul.DeskPane ul {
  display: none;
  margin: 0;
  padding: 0;
}
ul.DeskPane > li {
  width: 24%;
  margin: 0.5%;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  align-items: stretch;
  list-style-type: none;
  align-content: stretch;
  justify-content: center;
  border: 2px solid #FFFFFF;
  background-image: linear-gradient(to bottom, #FDFAE9, #B3B0A4);
}
ul.DeskPane > li:hover {
  border-color: #FFFACD;
  background-image: linear-gradient(to bottom, #EDE9D9, #BDBAAD);
}
ul.DeskPane > li > a,
ul.DeskPane > li > button {
  padding: 8px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  color: inherit;
  cursor: inherit;
  text-align: center;
  align-items: center;
  font-weight: inherit;
  align-content: stretch;
  justify-content: flex-start;
}
ul.DeskPane > li > a[data-disabled],
ul.DeskPane > li > button [data-disabled] {
  color: #660000;
  cursor: not-allowed;
}
ul.DeskPane > li > a > i {
  width: 48px;
  height: 48px;
  font-size: 40px;
  display: flex;
  margin-right: 8px;
  order: -1;
  color: inherit;
  cursor: inherit;
  align-items: center;
  justify-content: center;
}
ul.DeskPane > li > a > img {
  width: 48px;
  height: 48px;
  order: -1;
  margin-right: 8px;
}
ul.DeskPane > li.Reset > a {
  font-size: 20px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%);
}
div.Toolbar {
  height: 48px;
  display: flex;
  border-radius: 5px;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  background-image: linear-gradient(to bottom, #F2EFDF 0%, #ABA89D 100%);
}
div.Toolbar > a {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}
div.Toolbar > a > i {
  font-size: 16px;
}
div.Toolbar > a:hover > i {
  font-size: 24px;
}
div.Toolbar > a:first-child {
  border-radius: 5px 0 0 5px;
}
div.Toolbar > a:last-child {
  border-radius: 0 5px 5px 0;
}
/*# sourceMappingURL=Gate.css.map */