<g-callout class='fill'>
	<h1>g-form-editor</h1>
	<p>
		<strong>&lt;g-form-editor&gt;</strong> element empowers users to craft a JSON representation of a form effortlessly.
		Specifically designed for seamless integration with the <strong>&lt;g-form&gt;</strong> element for editing and the
		<strong>&lt;g-form-view&gt;</strong> element for visualization, this component offers a streamlined approach to form
		creation and manipulation.

		The JSON representation of the actively edited form is easily accessible and can be initialized through its value
		property. With a designated name attribute, this element seamlessly integrates into HTML forms, functioning akin
		to a standard <strong>&lt;input&gt;</strong> element.
	</p>
</g-callout>

<g-code-viewer>
	<fieldset>
		<g-form-editor>
		</g-form-editor>
	</fieldset>
</g-code-viewer>
