<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
	<display-name>Gate</display-name>

	<welcome-file-list>
		<welcome-file>Gate</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>name</param-name>
		<param-value>Console de Aministração</param-value>
	</context-param>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>
