div.DateTimeIntervalPicker
{
	width: 600px;
	height: 600px;

	> div > div:first-child { flex-grow: 1 }
}

input.DateTimeInterval { width: calc(100% - 32px); }
input.DateTimeInterval + a { width: 32px; }