div.NavBar
{
	display: flex;
	color: inherit;
	font-size: inherit;
	align-items: stretch;
	background-color: transparent;
	justify-content: space-between;

	@media only screen and (max-width: 640px)
		{
		display: none;
	}

	> a
	{
		width: 48px;
		display: flex;
		color: inherit;
		font-size: inherit;
		font-family: "gate";
		align-items: center;
		justify-content: center;

		&[navbar-disabled="true"]
		{
			opacity: 0.2;
			cursor: not-allowed;
			pointer-events: none;
		}
	}

	> label
	{
		display: flex;
		color: inherit;
		font-size: inherit;
		align-items: center;
		justify-content: center;
	}
}
