g-datetime-selector
{
	display:flex;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> g-date-selector { flex-shrink: 0;
			    flex-basis: 50%;}
	> g-time-selector { flex-shrink: 1;
			    flex-basis: 50%;}
}