g-month-interval-selector
{
	display:flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: center;
	border: 1px solid #CCCCCC;

	> g-month-selector { flex-grow: 1;
			     flex-basis: 50%;}
}