g-block > main,
.g-block > main
{
	width: 800px;
	height: 120px;
	max-width: 80%;

	> section
	{
		flex-grow: 1;
		align-items: stretch;
		justify-content: center;
		flex-direction:  column;

		> progress
		{
			flex-grow: 1;
			width: 100%;
		}
	}

	> footer
	{
		height: 24px;

		> digital-clock{
			color: white;
			padding: 4px;
			flex-grow: 1;
			display: flex;
			font-size: 16px;
			align-items: center;
			justify-content: flex-end;
		}
	}
}